<aside>
    <div class="top">
        <div style = "cursor: pointer;" class="logo" onclick = "window.location = '../'">
            <squidly-loader></squidly-loader>
            <img src ="../images/logo-text.svg">
        </div>
        <div class="close" id="close-btn">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>

    <div name = "sideBar" class="sidebar">
        <div class="passive active" type="dash-board">
            <span class="material-symbols-outlined">dashboard</span>
            <h3>Dashboard</h3>
        </div>
        <div class="passive" type="profile-panel">
            <span class="material-symbols-outlined">person</span>
            <h3>Profile</h3>
        </div>

        <div class="passive" type="admin-control">
            <span class="material-symbols-outlined">supervisor_account</span>
            <h3>Admin Control</h3>
        </div>

        <div class="passive" type="support-panel">
            <span class="material-symbols-outlined">contact_support</span>
            <h3>Support</h3>
        </div>

        <div class="passive" type="data-and-privacy">
            <span class="material-symbols-outlined">report</span>
            <h3>Data & Privacy</h3>
        </div>

        <div class="passive" type="settings-panel">
            <span class="material-symbols-outlined">settings</span>
            <h3>Settings</h3>
        </div>

        <div class="passive" type="licences-page">
            <span class="material-symbols-outlined">shop</span>
            <h3>Licences</h3>
        </div>

        <div class="passive" type="logout">
            <span class="material-symbols-outlined">logout</span>
            <h3>Logout</h3>
        </div>
    </div>
</aside>
<!-------------------- END OF ASIDE -------------------->

<div class="row-main">
    <main name="main">
        <dash-board name="dashboard"></dash-board>
        <data-and-privacy name="privacy"></data-and-privacy>
        <meetings-panel name="meetings"></meetings-panel>
        <profile-panel name="profile"></profile-panel>
        <support-panel name="support"></support-panel>
        <admin-control name="admin"></admin-control>
        <settings-panel name="settings"></settings-panel>
        <licences-page name="licences"></licences-page>
    </main>
    
    
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <div onclick = "themeToggle" class="theme-toggler">
                <span class="material-symbols-outlined">light_mode</span>
                <span class="material-symbols-outlined">dark_mode</span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b name="info/firstName" vfield="innerHTML">Name</b></p>
                    <p name = "tierName" vfield="innerHTML"></p>
                </div>
                <div class="profile-photo" name="info/displayPhoto" vfield="background-image" >
                </div>
            </div>
        </div>
    
        <!-- END OF TOP -->
        <div class="meeting">
            <h2>Meetings</h2>
            <div class = "items">
                <div class="item host" onclick = "hostMeeting">
                    <div class="icon">
                        <span class="material-symbols-outlined">videocam</span>
                    </div>
                    <div class="info">
                        <h3>HOST MEETING</h3>
                    </div>
                </div>
                
                <div class="item schedule" id="openModal" onclick = "scheduleMeeting" >
                    <div class="icon">
                        <span class="material-symbols-outlined">calendar_month</span>
                    </div>
                    <div class="info">
                        <h3>SCHEDULE MEETING</h3>
                    </div>
                </div>
            </div>
    
            <!--- OPEN SCHEDULER MODAL --->
            <div class="popup" name = "meetingSchedulerPopup">
                <meeting-scheduler name="meetingScheduler"></meeting-scheduler>
            </div>
    
            <div class="popup" name = "meetingDisplayPopup">
                <meeting-display name="meetingDisplay"></meeting-display>
            </div>

            <div class="popup" name = "gridEditorPopup">
                <div name = "gridEditorRoot" class = "grid-editor">
                    <grid-creator-app></grid-creator-app>
                </div>
                <i onclick="closeGridEditor"><span class="material-symbols-outlined">
                    close
                    </span></i>
            </div>
            <div class="popup" name = "quizEditorPopup">
                <div name = "gridEditorRoot" class = "grid-editor">
                    <quiz-editor-container></quiz-editor-container>
                </div>
                <i onclick="closeQuizEditor"><span class="material-symbols-outlined">
                    close
                    </span></i>
            </div>
        </div>
        <div class="meeting">
            <h2>Editors</h2>
            <div class = "items">

                <div class="item grid-editor" onclick = "openGridEditor" >
                    <div class="icon">
                        <span class="material-symbols-outlined">grid_on</span>
                    </div>
                    <div class="info">
                        <h3>AAC GRID EDITOR</h3>
                    </div>
                </div>
                <div class="item grid-editor" onclick = "openQuizEditor" >
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            quiz
                            </span>
                    </div>
                    <div class="info">
                        <h3>QUIZ EDITOR</h3>
                    </div>
                </div>
            </div>
    
            <!--- OPEN SCHEDULER MODAL --->
            <div class="popup" name = "meetingSchedulerPopup">
                <meeting-scheduler name="meetingScheduler"></meeting-scheduler>
            </div>
    
            <div class="popup" name = "meetingDisplayPopup">
                <meeting-display name="meetingDisplay"></meeting-display>
            </div>

            <div class="popup" name = "gridEditorPopup">
                <div name = "gridEditorRoot" class = "grid-editor">
                    <grid-creator-app></grid-creator-app>
                </div>
                <i onclick="closeGridEditor"><span class="material-symbols-outlined">
                    close
                    </span></i>
            </div>
        </div>
    </div>
</div>


<div class = "popup" name = "noLicencePopup">
    <div class = "card col">
        <div >
            <h1 class = "row-center">You do not have a licence</h1>
            <span class = "row-center" style = "font-size: 1.3em; font-weight: 400">please contact your administrator</span>
        </div>
        <div class="row-center">
            <button class = "btn" onclick = "userLogout"> Logout</button>
            <button class = "btn" onclick = "updateBilling"> Update Billing Details</button>
        </div>
    </div>
</div>

<notifications-list></notifications-list>