<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="input-plus2.css">
    <link rel="stylesheet" href="../../Console/templates/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0">
</head>
<body>
    <input-plus 
        type = "text" 
        label = "Meeting Description"
        error-name = "Meeting description is"
        autocomplete = "off" 
        name = "description" 
        icon = "description"
        required
    ></input-plus>
    <input-plus 
        type = "datetime-local" 
        autocomplete = "off" 
        error-name = "The meeting time is"
        name = "startTime" 
        label = "When"
        icon = "event"
        required
    ></input-plus>
    <input-plus 
        type = "number" 
        autocomplete = "off" 
        error-name = "The meeting duration is"
        name = "duration" 
        label = "Duration"
        icon = "hourglass_bottom"
        required
    ></input-plus>
    <input-plus 
        type = "select" 
        autocomplete = "off" 
        error-name = "A timezone is"
        name = "timezone" 
        label = "Timezone"
        icon = "fa-solid fa-angle-down"
        required
    ></input-plus>
    <div class = "row-slider">
        <div>
            <h3>Allow Anonymous Host</h3>
            <p style = "font-size:0.85em"> If ticked the first person to join the link <br/> will be come the host of the session.</p>
        </div>
        <input-plus type = "checkbox" name = "anonymous" round></input-plus>
    </div>  
    
</body>
<script src="input-plus2.js" type = "module">

</script>
<style>
    body {
        margin: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
</style>

</html>