input-plus {
    display: flex;
    position: relative;
    width: 100%;


    --background-color: var(--input-bg);
    --background-color-hover: var(--input-bg-hover);
    --text-color: var(--color-dark);
    --label-text-color: var(--color-info-dark);
    --icon-color: var(--input-text);
    --slider-color: rgb(122, 162, 255);
}

input-plus.btn[color='gray']{
    justify-content: center;
    display: flex;
    color: var(--color-info-dark);
}

input-plus textarea {
    resize: none;
    width: 100%;
    min-height: 150px;
}

input-plus textarea ~ label {
    top: 1.2em;
    transform: none;
}

input-plus textarea ~ .icon {
    top: 1.3em;
    transform: none;
}

input-plus input, input-plus textarea, input-plus select {
    width: 100%;
    background-color: var(--background-color);
    padding: 1.5em 1.35em calc(0.75em - 2px) 1.35em;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.95em;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px var(--input-shadow);
    transition: 0.3s;
    color: var(--text-color);
}

input-plus input:hover, input-plus textarea:hover, input-plus select:hover {
    background-color: var(--background-color-hover);
}

input-plus label {
    position: absolute;
    top: 50%;
    left: calc(1.35em + 2px);
    transform: translateY(-50%);
    color: var(--label-text-color);
    pointer-events: none;
    transition: 0.25s;
    font-size: 0.95em;
}

input-plus > .icon {
    position: absolute;
    right: calc(1.35em + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--icon-color);
    font-size: 1.25em;
    transition: 0.3s;
}

input-plus.focus input, input-plus.focus textarea, input-plus.focus select {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 0 5px var(--input-shadow);
}

input-plus.focus label {
    color: var(--color-primary);
}

input-plus.focus .icon {
    color: var(--color-primary);
}

input-plus.not-empty label {
    font-size: 0.66em;
    top: 0.75em;
    transform: translateY(0);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: none;
    width: 35px;
    /* height: 25PX; */
    cursor: pointer;
}

input[type="datetime-local"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type="datetime-local"]:focus::-webkit-datetime-edit {
    color: inherit !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    cursor: pointer;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type="time"]:focus::-webkit-datetime-edit {
    color: inherit !important;
}

input[type="time"]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px; 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: transparent;
    font-family: inherit;
}

.select-box select {
    color: var(--color-white);
    padding: 1em;
    padding: 1.1em 2.5em 1.1em 1.5em;
    font-size: 1em;
}
.select-box option {
    color: black;
}

.select-box {
    --color: var(--color-danger);
    --hover-color: var(--color-danger-hover);
    cursor: pointer;
    background-color: var(--color);
    color: var(--color-white);
    position: relative;
    display: flex;
    border-radius: 40px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.select-box:hover {
    background-color: var(--hover-color);
}

.select-box::after {
    content: ' ';
    position: absolute;
    right: 1.1em;
    top: 50%;
    transform: translate(50%, -50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-white);
}

input-plus input[disabled] {
    background-color: var(--input-bg-hover);
}


input-plus[invalid] input, input-plus[invalid] textarea, input-plus[invalid] select {
    border: 2px solid var(--color-great);
}

input-plus[invalid] label {
    color: var(--color-great);
}

input-plus .error-message, input-plus .file-name {
    display: none;
}

input-plus[invalid] .error-message, input-plus[file] .file-name {
    display: flex;
    position: absolute;
    bottom: -1.4em;
    left: 1.35em;
    gap: 0.5em;
    align-items: center;
    font-size: 0.8em;
}

input-plus[invalid] .error-message {
    color: var(--color-great);
}

/* input-plus .error-message i, input-plus .file-name i {
    width: 10px;
    height: 10px;
} */

input-plus input[type='file'] {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/* ~~~~~~~~~~~~~~~~~~~~~~this is the option slider~~~~~~~~~~~~~~~~~~ */

option-slider {
    --border: 0.2em;
    --slider-width: 5em;
    --slider-position: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: var(--border);
    background: var(--background-color);
    border-radius: 1em;
    position: relative;
    cursor: pointer;
}
option-slider::before {
    content: ' ';
    position: absolute;
    width: var(--slider-width);
    height: calc(100% - 2 * var(--border));
    z-index: 0;
    left: calc(var(--slider-position));
    top: var(--border);
    background: var(--slider-color);
    border-radius: 1em;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

option-slider s-option {
    line-height: 1.2em;
    padding: 0.2em 0.4em;
    border-radius: 1em;
    z-index: 2;
    color: var(--text-color);
    display: inline-block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~this is the progress chart~~~~~~~~~~~~~~~~~~ */
progress-chart {
    display: block;
    position: relative;
    --percent: 0.75;
    --offset: 0.25;


    --pi: 112.1; 
    --b-percent: calc(1 - var(--percent));
    --p-arc: calc(var(--percent) * var(--pi) * 2);
    --b-arc: calc(var(--b-percent) * var(--pi) * 2);
}

progress-chart svg {
    width: 5em;
    height: 5em; 
}

progress-chart svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dashoffset: calc(var(--offset) * 2 * var(--pi));
    stroke-dasharray:  calc(var(--p-arc) * 1) calc(var(--b-arc) * 1);
}
progress-chart .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

