<i class = "close-i" onclick="close"><span class="material-symbols-outlined">
    close
</span></i>
<h2>Schedule Meeting</h2>
<div class="col top-margin">
    <input-plus 
        type = "text" 
        label = "Meeting Description"
        error-name = "Meeting description is"
        autocomplete = "off" 
        name = "description" 
        icon = "description"
        required
    ></input-plus>
    <input-plus 
        type = "datetime-local" 
        autocomplete = "off" 
        error-name = "The meeting time is"
        name = "startTime" 
        label = "When"
        icon = "event"
        required
    ></input-plus>
    <input-plus 
        type = "number" 
        autocomplete = "off" 
        error-name = "The meeting duration is"
        name = "duration" 
        label = "Duration"
        icon = "hourglass_bottom"
        required
    ></input-plus>
    <input-plus 
        type = "select" 
        autocomplete = "off" 
        error-name = "A timezone is"
        name = "timezone" 
        label = "Timezone"
        icon = "fa-solid fa-angle-down"
        required
    ></input-plus>
    <div class = "row-slider">
        <div>
            <h3>Enable Guest Hosting</h3>
            <p style = "font-size:0.85em"> The first person to join this link can start and </br> host the session without needing a licence. </p>
        </div>
        <input-plus type = "checkbox" name = "anonymous" round></input-plus>
    </div>  

    <div class="fill-button">
        <button class="btn" onclick = "save">Save</button>
    </div>
</div>