<i class = "close-i" onclick="close"><span class="material-symbols-outlined">
    close
</span></i>
<h2>Schedule Meeting</h2>
<div class="col top-margin">
    <input-plus>
        <input autocomplete="off" type="text"
            name="description" required>
        <label>Meeting Description</label>
        <span class="icon material-symbols-outlined">description</span>
    </input-plus>
    <input-plus>
        <input autocomplete="off" type="datetime-local" name="start-time"
            required>
        <label>When</label>
        <span class="icon material-symbols-outlined">event</span>
    </input-plus>
    <!-- <input-plus>
        <input autocomplete="off" type="datetime-local" name="end-time" required>
        <label>Finish</label>
        <span class="icon material-symbols-outlined">schedule</span>
    </input-plus> -->
    <input-plus name ="duration">
        <input autocomplete="off" type="number" required>
        <label>Duration (Minutes)</label>
        <span class="icon material-symbols-outlined">hourglass_bottom</span>
    </input-plus>

    <input-plus>
        <label>Timezone</label>
        <select name="timezone" autocomplete="off" style="color: inherit; cursor: pointer;" required>
            <option selected disabled></option>
            <option value="Perth">Perth</option>
            <option value="Darwin">Darwin</option>
            <option value="Brisbane">Brisbane</option>
            <option value="Adelaide">Adelaide</option>
            <option value="Sydney, Melbourne, Canberra">Sydney, Melbourne, Canberra</option>
            <option value="Hobart">Hobart</option>
        </select>
        <i class="icon fa-solid fa-angle-down" id="fas"></i>
    </input-plus>

    <div class="contact-buttons">
        <!-- <button class="btn upload" onclick = "close" style="background-color: var(--color-great);">Cancel</button> -->
        <button class="btn" onclick = "save">Save</button>
    </div>
</div>