<i class = "close-i" onclick="close"><span class="material-symbols-outlined">
    close
</span></i>
<h2>Schedule Meeting</h2>
<div class="col top-margin">
    <input-plus>
        <input autocomplete="off" type="text"
            name="description" required>
        <label>Meeting Description</label>
        <span class="icon material-symbols-outlined">description</span>
    </input-plus>
    <input-plus>
        <input autocomplete="off" type="datetime-local" name="startTime"
            required>
        <label>When</label>
        <span class="icon material-symbols-outlined">event</span>
    </input-plus>
    <!-- <input-plus>
        <input autocomplete="off" type="datetime-local" name="end-time" required>
        <label>Finish</label>
        <span class="icon material-symbols-outlined">schedule</span>
    </input-plus> -->
    <input-plus name ="duration">
        <input autocomplete="off" type="number" required>
        <label>Duration (Minutes)</label>
        <span class="icon material-symbols-outlined">hourglass_bottom</span>
    </input-plus>

    <input-plus>
        <label>Timezone</label>
        <select name="timezone" autocomplete="off" style="color: inherit; cursor: pointer;" required>
            
        </select>
        <i class="icon fa-solid fa-angle-down" id="fas"></i>
    </input-plus>

    <div class="fill-button">
        <button class="btn" onclick = "save">Save</button>
    </div>
</div>