<h1>Admin Control</h1>
<div class="row-stretch">
    <div class="insights">
        <div class="total-users">
            <span class="material-symbols-outlined">analytics</span>
            <div class="center">
                <div class="left">
                    <h3>Total Members </h3>
                    <h1><b name="memberscount" vfield="html">25</b></h1>
                </div>
                <progress-chart name="memberspercent" vfield="progress"></progress-chart>
            </div>
            <small class="text-muted row">With site access<i name = "maxUserInfo" hover = "number of users" class='fa-solid fa-circle-info'></i></small>
        </div>
    </div>
    
    <div class="card">
        <div class="row">
            <div class="col">
                <h1>Site Members</h1>
                <p class="data-preferences-body">Members are people who have access to sign up and use Squidly. Upload and
                        manage your site members here.</p>
            </div>
            <div class="col">
                <button class="btn" name="download" color="gray">Download Template</button>
                <button class="btn" onclick = "loadCSVAdmins" name="update">Upload Site Members</button>
            </div>
        </div>
    </div>
</div>

<div class="card bottom-margin" id="customers_table">
    <table-plus name="members" vfield="value"></table-plus>
</div>


<div class = "popup" name = "invalidCSVPopup">
    <div class = "card col">
        <div >
            <h1 class = "row-center">The file format was incorrect </h1>
            <div name = "errorCSV" style = "text-align: center; font-size: 1.3em; font-weight: 400"></div>
        </div>
        <div class="row-center">
            <button onclick = "hideInvalidCSVPopup" class = "btn"> Back</button>
            <button onclick = "loadCSVAdmins" class = "btn"> Reupload</button>
            
        </div>
    </div>
</div>