<h1>Dashboard</h1>
<div class="row-stretch">
    <div class="insights">
        <div class="hours">
            <span class="material-symbols-outlined">analytics</span>
            <div class="center">
                <div class="left">
                    <h3>Total Hours</h3>
                    <h1 vfield="innerHTML" name="hours"></h1>
                </div>
                <progress-chart vfield="progress" name="hours%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
    <div class="insights">
        <div class="sessions-count">
            <span class="material-symbols-outlined">bar_chart</span>
            <div class="center">
                <div class="left">
                    <h3>Total Sessions</h3>
                    <h1 vfield="innerHTML" name="sessions-count"></h1>
                </div>
                <progress-chart vfield="progress" name="sessions-count%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
    <div class="insights">
        <div class="storage">
            <span class="material-symbols-outlined">stacked_line_chart</span>
            <div class="center">
                <div class="left">
                    <h3>Total Storage</h3>
                    <h1><b vfield="innerHTML" name="storage"></b>MB</h1>
                </div>
                <progress-chart vfield="progress" name="storage%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
</div>

<div class="card" id="customers_table">
    <section class="table__header">
        <h1>Recent Sessions</h1>
        <div class="input-group">
            <input type="search" name="searchbar" placeholder="Search Data...">
            <img src="images/search.png" alt="">
        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Export As &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF" name="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                <label for="export-file" id="toCSV" name="toCSV">CSV <img src="images/csv.png" alt=""></label>
            </div>
        </div>
    </section>
    <members-plus class="table__body" name="members"></members-plus>
</div>
<div class="card bottom-margin">
    <div class="chartOne">
        <div id="chartOne"></div>
    </div>
</div>