<h1>Dashboard</h1>
<div class="row-stretch">
    <div class="insights">
        <div class="hours">
            <span class="material-symbols-outlined">analytics</span>
            <div class="center">
                <div class="left">
                    <h3>Total Hours</h3>
                    <h1 vfield="innerHTML" name="hours"></h1>
                </div>
                <progress-chart vfield="progress" name="hours%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
    <div class="insights">
        <div class="sessions-count">
            <span class="material-symbols-outlined">bar_chart</span>
            <div class="center">
                <div class="left">
                    <h3>Total Sessions</h3>
                    <h1 vfield="innerHTML" name="sessions-count"></h1>
                </div>
                <progress-chart vfield="progress" name="session-count%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
    <div class="insights">
        <div class="storage">
            <span class="material-symbols-outlined">stacked_line_chart</span>
            <div class="center">
                <div class="left">
                    <h3>Total Storage</h3>
                    <h1><b vfield="innerHTML" name="storage"></b>MB</h1>
                </div>
                <progress-chart vfield="progress" name="storage%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
</div>

<!-- <div class="recent-sessions">
    <h2>Recent Sessions</h2>
    <table>
        <thead>
            <tr>
                <th>Session Name</th>
                <th>Session Date</th>
                <th>Session Length</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <a href="#">Show All</a>
</div>
<------------------ END OF TABLE -------------------->

<!-- <canvas id="chart">hart</canvas>  -->