<h1>Dashboard</h1>
<div class="row-stretch">
    <div class="insights">
        <div class="hours">
            <span class="material-symbols-outlined">analytics</span>
            <div class="center">
                <div class="left">
                    <h3>Total Hours</h3>
                    <h1 vfield="innerHTML" name="hours"></h1>
                </div>
                <progress-chart vfield="progress" name="hours%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
    <div class="insights">
        <div class="sessions-count">
            <span class="material-symbols-outlined">bar_chart</span>
            <div class="center">
                <div class="left">
                    <h3>Total Sessions</h3>
                    <h1 vfield="innerHTML" name="sessions-count"></h1>
                </div>
                <progress-chart vfield="progress" name="sessions-count%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
    <div class="insights">
        <div class="storage">
            <span class="material-symbols-outlined">stacked_line_chart</span>
            <div class="center">
                <div class="left">
                    <h3>Total Storage</h3>
                    <h1><b vfield="innerHTML" name="storage"></b>MB</h1>
                </div>
                <progress-chart vfield="progress" name="storage%"></progress-chart>
            </div>
            <small class="text-muted">Last 1 Month</small>
        </div>
    </div>
</div>

<div class="card" id="customers_table">
    <table-plus name="sessions" vfield="value"></table-plus>
</div>
<div class="card bottom-margin">
    <h1 hover="text">Progress Tracker</h1>
    <div class="chartOne top-margin">
        <div name="chart"></div>
    </div>
</div>