<h1>Data & Privacy</h1>
<div class="card bottom-margin">
    <h1>Data Settings</h1>
    <div class="col top-margin">
        <div class="width-65">
            <p class="data-preferences-heading">Diagnostic Data Preferences</p>
            <p class="data-preferences-body">Diagnostic data includes all service-generated data when you
                use Squidly services. It does not include any customer content. <a
                    href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn More</a></p>
        </div>
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Required Diagnostic Data</p>
                <p class="data-preferences-body">This data is necessary to help Zoom operate our services,
                    provide support, and troubleshoot. <a
                        href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn More</a></p>
            </div>
            <div>
                <label class="switch" locked>
                    <input name="info/requiredData" type="checkbox" vfield="checked" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Optional Diagnostic Data</p>
                <p class="data-preferences-body">Allow collection of additional data that helps Squidly make
                    product improvements and provide enhanced information to help Squidly detect, diagnose, and
                    remediate issues. <a href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn
                        More</a></p>
            </div>
            <div>
                <label class="switch">
                    <input name="info/optionalData" vfield="checked" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>