<h1>Data & Privacy</h1>
<div class="card">
    <h1>Data Settings</h1>
    <div class="privacy-wrapper">
        <form class="data-form">
            <div class="privacy-wrap width-100">
                <p class="data-preferences-heading">Diagnostic Data Preferences</p>
                <p class="data-preferences-body">Diagnostic data includes all service-generated data when you
                    use Squidly services. It does not include any customer content. <a
                        href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn More</a></p>
            </div>
            <div class="privacy-wrap width-100">
                <p class="data-preferences-heading">Required Diagnostic Data</p>
                <p class="data-preferences-body">This data is necessary to help Zoom operate our services,
                    provide support, and troubleshoot. <a
                        href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn More</a></p>
            </div>

            <div class="privacy-wrap">
                <p class="data-preferences-heading">Optional Diagnostic Data</p>
                <p class="data-preferences-body">Allow collection of additional data that helps Squidly make
                    product improvements and provide enhanced information to help Squidly detect, diagnose, and
                    remediate issues. <a href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn
                        More</a></p>
            </div>

            <div class="privacy-wrap">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </form>
    </div>
</div>
