<div class = "shadow-container">
    <h1>Squidly Licences</h1>

    <div class = "col">
        <div class="card col">
            <h2 class="top-h1">
                Choose your pricing plan
            </h2>
            <h3>
                Unlock premium content, more powerful 
                AAC tools, and AI features
            </h3>
            <div>
                Empower your organisation and scale your  
                connections with Squidly's all-in-one telepractice 
                solution. Benefit from enterprise-level security and 
                real-time assistive technology tools and collaboration.
            </div>
        </div>
        <div name = "licenceProducts" class="row-stretch">
            
        
            
        </div>
    </div>
    <h1 class = "licence-owner">My Licences</h1>
    <div class = "licence-owner" class = "card">
        <div name = "licencesList" class="licences-list">
        </div>
    </div>

    <div class = "col">
    </div>

</div>

<div class = "popup" name = "stripeMountPopup">
    <div name = "stripeMount" class = "card col">
    </div>
</div>

