licences-page {
    --call-to-action: #2489f5;
    --call-to-action-hover: #2074c7;
    --background-color: #72b6fe;
    --slider-color: #137ae8;
    --text-color: #ffffffeb;
    
}
licences-page .shadow-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

licences-page .col, licences-page .row, licences-page .row-slider, licences-page .row-stretch  {
    gap: 1.3em;
}


main > licences-page.active {
    display: flex;
}


licences-page .card {
    margin: 0;
}

licence-product-card {
    justify-content: space-between;
}
licence-product-card[emphasise] {
    border: 2px solid var(--color-danger);
    filter: drop-shadow(0px 0px 6px var(--color-danger));
}

licences-page[nolicences] .licence-owner {
    display: none;
}
licences-page:not([nolicences]) .trial {
    display: none;
}

.licences-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

licence-icon {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    background: var(--color-white);
    gap: 1em;
}

.i-button {
    cursor: pointer;
    transition: 0.3s ease-in-out transform;
}
.i-button:hover {
    transform: scale(1.2);
}
.call-to-action.btn {
    --color: var(--call-to-action);
    --hover-color: var(--call-to-action-hover);
    --color-white: rgba(255, 255, 255, 0.919);
}

.call-to-action::after {
    content: 'Purchase Licence'
}
licences-page[nolicences] .call-to-action::after {
    content: 'Start Free Trial';
}


.active-icon[active] {
    --color: #29e229;
    --color-dark: #043304;
    padding: 0 0.4em;
}

.active-icon {
    --color: #e23b29;
    --color-dark: white;
    background: var(--color);
    padding: 0 0.4em 0 0.5em;
    border-radius: 1em;
    color: var(--color-dark);
    filter: drop-shadow(0px 0px 6px var(--color));
}


.popup > .popup-rel {
    padding: 0;
    background: transparent;
    display: flex;
    max-height: 80%;
    position: relative;
}


licences-page .popup .card {
    overflow-y: scroll;
    background: #f5ebff;
    display: block;
    width: 100%;
}

