<h1>Profile</h1>
<div class="profile-wrapper">

    <div class="card">
        <div class="row spi">
            <div class="row">
                <div class="profile-photo">
                    <img name="displayPhoto" vfield="src"/>
                </div>
                <div class="stack">
                    <h2 name="displayName" vfield="innerHTML"></h2>
                    <small class="text-muted" name="pronouns" vfield="innerHTML"></small>
                </div>
            </div>
            <button class="btn">Update</button>
        </div>
    </div>

    <div class="card">
        <h2>Account Details</h2>
        <form-plus class = "col top-margin" name="details">
            <div class="row">
                <input-plus>
                    <input name="firstName" required/>
                    <label>First Name*</field>
                </input-plus>
                <input-plus>
                    <input name="lastName" required/>
                    <label>Last Name*</field>
                </input-plus>
            </div>
            <div class="row">
                <input-plus>
                    <label class="text-muted">Display Name*</label>
                    <input name="displayName" required/>
                </input-plus>
                <input-plus>
                    <label class="text-muted">Pronouns</label>
                    <input name="pronouns" />
                </input-plus>
            </div>
            <div class="row">
                <input-plus class="col">
                    <label class="text-muted">Email</label>
                    <input name="email" disabled></input>
                </input-plus>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn" name="update">Update</button>
                </div>
            </div>
        </form-plus>
    </div>
    
    <div class="card">
        <h2>Update Password</h2>
        <form-plus class="col top-margin" name="password-reset">
            <div class="row">
                <input-plus name="oldPasscode">
                    <label class="text-muted">Old Passcode</label>
                    <input type="password"/>
                </input-plus>
            </div>
            <div class="row">
                <input-plus name="newPasscode">
                    <label class="text-muted">New Passcode</label>
                    <input type="password"/>
                </input-plus>
                <input-plus name="confirmPasscode">
                    <label class="text-muted">Confirm Passcode</label>
                    <input type="password"/>
                </input-plus>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn" name="updateDetails">Update</button>
                </div>
            </div>
        </form-plus>
    </div>

    <div class="card">
        <h2>Subscription</h2>
        <form>
            <div class="row">
                <div class="col">
                    <div>Licence</div>
                </div>
                <div class="col-stack">
                    <div name="tier" vfield="innerHTML"></div>
                    <h3>Total Hours</h3>
                    <h3>Total Sessions</h3>
                    <h3>Total Storage</h3>
                </div>
                <div class="col-stack">
                    <div name = "maxhours" vfield = "innerHTML">50</div>
                    <div name = "maxsessions" vfield = "innerHTML">20</div>
                    <div name = "maxstorage" vfield = "innerHTML">300MB</div>
                </div>
            </div>
        </form>
    </div>
</div>
