<h1>Profile</h1>
<div class="profile-wrapper">

    <div class="card">
        <div class="row spi profilehead">
            <div class="row">
                <div name="uploadDP" class="profile-photo">
                    <img name="info/displayPhoto" vfield="src"/>
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
                <div class="stack">
                    <h2 name="info/displayName" vfield="innerHTML"></h2>
                    <small class="text-muted" name="info/pronouns" vfield="innerHTML"></small>
                </div>
            </div>
            <!-- <button class="btn">Update</button> -->
        </div>
    </div>

    <form-plus class="card" name="info" vfield = "value">
        <h2>Account Details</h2>
        <div class = "col top-margin" >
            <div class="row">
                <input-plus>
                    <input name="firstName" required/>
                    <label>First Name*</field>
                </input-plus>
                <input-plus>
                    <input name="lastName" required/>
                    <label>Last Name*</field>
                </input-plus>
            </div>
            <div class="row">
                <input-plus>
                    <label class="text-muted">Display Name*</label>
                    <input name="displayName" required/>
                </input-plus>
                <input-plus>
                    <label class="text-muted">Pronouns</label>
                    <input name="pronouns" />
                </input-plus>
            </div>
            <div class="row">
                <input-plus class="col">
                    <label class="text-muted">Email</label>
                    <input name="email" disabled></input>
                </input-plus>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn" color="gray" onclick="reset()">Cancel</button>
                </div>
                <div class="col">
                    <button class="btn" name="submit">Update</button>
                </div>
            </div>
        </div>
    </form-plus>
    
    <form-plus name="passwordReset" class="card">
        <h2>Update Password</h2>
        <div class="col top-margin">
            <div class="row">
                <input-plus name="oldpasscode">
                    <label class="text-muted">Old Passcode</label>
                    <input type="password"/>
                </input-plus>
            </div>
            <div class="row">
                <input-plus name="newpasscode">
                    <label class="text-muted">New Passcode</label>
                    <input type="password"/>
                </input-plus>
                <input-plus name="confirmpasscode">
                    <label class="text-muted">Confirm Passcode</label>
                    <input type="password"/>
                </input-plus>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn" color="gray" onclick="reset()">Cancel</button>
                </div>
                <div class="col">
                    <button class="btn" name="submit">Update</button>
                </div>
            </div>
        </div>
    </form-plus>

    <div class="card bottom-margin">
        <h2>Subscription</h2>
        <table class="top-margin">
            <colgroup>
                <col style="width:25%">
                <col style="width:20%">
                <col style="width:50%">
              </colgroup>  
            <tbody class="top-margin">
                <tr>
                    <td scope="row">Licence</td>
                    <td>Standard</td>
                    <td><a>Upgrade to get more features</a></td>
                </tr>
                <tr>
                    <td scope="row">Per month</td>
                    <td><b>Total Hours</b></td>
                    <td name = "licence/max/hours" vfield = "innerHTML"></td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td><b>Total Sessions</b></td>
                    <td name = "licence/max/sessions-count" vfield = "innerHTML"></td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td><b>Total Storage</b></td>
                    <td><span name = "licence/max/storage" vfield = "innerHTML"></span>MB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
