<h1>Support</h1>
<div class="card">
    <h1>Let's work together<span class="primary">.</span></h1>
    <p class="text">Or reach us via : <a href="mailto:joshua.aarons@ymail.com">contact@squidly.com</a></p>
    <div class="col top-margin">
        <div class="row"> 
            <input-plus>
                <input autocomplete="off" name="First Name" type="text" required>
                <label>First Name</label>
                <i class="icon fa-solid fa-address-card"></i>
            </input-plus>
            <input-plus>
                <input autocomplete="on" name="Last Name" type="text" required>
                <label>Last Name</label>
                <i class="icon fa-solid fa-address-card"></i>
            </input-plus>
        </div>
        <input-plus>
            <input autocomplete="on" name="Email" type="email" required>
            <label>Email</label>
            <i class="icon fa-solid fa-envelope"></i>
        </input-plus>
        <input-plus>
            <textarea name="Message" autocomplete="off" required></textarea>
            <label>Message</label>
            <i class="icon fa-solid fa-inbox"></i>
        </input-plus>
        <div class="contact-buttons">
            <input-plus class="btn" color="gray">
                <span><i class="icon fa-solid fa-paperclip"></i> Add attachment</span>
                <input type="file" name="attachment">
            </input-plus>
            <input type="submit" value="Send message" class="btn">
        </div>
    </div>
</div>