app-view {
    --main-gap: 1.8rem;
    --side-width: 14rem;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    margin: 0 auto;
    gap: 1.8rem;
    display: flex;
    font-size: 0.88rem;
    overflow-y: scroll;
    align-items: flex-start;
    font-size: 1rem;
}
.row-main {
    display: flex;
    gap: 1.8rem;
    width: calc(100% - var(--side-width) - var(--main-gap));
}

main {
    width: 100%;
}

app-view h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

app-view h2 {
    font-size: 1.4rem
}

app-view h3 {
    font-size: 0.87rem;
}

app-view h4 {
    font-size: 0.8rem;
}

app-view h5 {
    font-size: 0.77rem;
}

app-view p {
    color: var(--color-dark-variart);
}

/* ASIDE */
aside {
    height: 100vh;
    width: var(--side-width);
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-left: 1rem;
}

aside .logo {
    display: flex;
    gap: 0rem;
}

aside .logo squidly-loader {
    width: 3rem;
    height: 3rem;
    display: inline;
}
aside .logo img {
    height: 3rem;
}

aside .close {
    display: none;
}

/* SideBar */
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar > div {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar > div span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

/* aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%
} */

aside .sidebar > div.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar > div.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary)
}

aside .sidebar > div.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 6px)
}

aside .sidebar > div:hover {
    color: var(--color-primary);
}

aside .sidebar > div:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

app-view:not([admin]) aside .sidebar > *[type="admin-control"] {
    display: none;
}


/* MAIN */
main > * {
    display: none;
}

main > *.active {
    display: block;
}

.right {
    margin-top: 1.4rem;
    margin-right: 1.4rem;
    min-width: 18rem;
}

.right .top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-theme-variables .right .theme-toggler span:last-child {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
app-view:not(.dark-theme-variables) .right .theme-toggler span:first-child{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 0.5rem;
    text-align: right;
}

/* ================= HOST MEETINGS ================= */
.right .meeting {
    margin-top: 2rem;
}

.right .meeting h2 {
    margin-bottom: 0.8rem;
}

.right .meeting .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .meeting .item:hover {
    box-shadow: none;
}

.right .meeting .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .meeting .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .meeting .item.schedule .icon {
    background: var(--color-danger);
}
.right .meeting .item.grid-editor .icon {
    background: var(--color-great);
}

.profile-photo {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eaeaf1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 256 256"><path opacity="0.3" d="M24.77,256c0-69.4,46.22-125.66,103.23-125.66s103.23,56.26,103.23,125.66"/><ellipse opacity="0.3" cx="128" cy="62.64" rx="46.42" ry="45.2"/></svg>');
}

.profile-photo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
    font-size: 1.5rem;
}

.profile-photo:hover i {
    opacity: 1;
    color: white;
}

.card .profile-photo:hover img {
    opacity: 0.5;
    transition: 0.3s;
}

.card .profile-photo {
    width: 6rem;
    height: 6rem; 
    cursor: pointer;
}


@media screen and (max-width: 1400px) {
    app-view {
        --side-width: 6rem;
    }
    aside .logo h2 {
        display: none;
    }
    aside .logo {
        flex-direction: column;
        align-items: center;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .top {
        justify-content: space-around;
        margin-left: 0rem;
    }

}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 1.8vmin;
    }
    .items {
        display: flex;
        gap: 1.4rem;
    }
    .items > * {width: 100%;}
    .right h2 {
        font-size: 1.8rem;
        font-weight: 800;
    }
    .row-main {
        flex-direction: column-reverse;
        align-items: stretch;
        gap: 0px;
    }
    app-view {
        --side-width: 6rem;
    }
    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }
    main {
        margin-right: 1.4rem;
        width: auto;

    }
    .table__body {
        max-height: 60vmin;
    }

}

/* DASHBOARD */

dash-board[no-sessions] table-plus,
dash-board:not([no-sessions]) .no-sessions-message{
    display: none;
}

.no-sessions-message .ctext {
    padding: 1em 0;
}
 .popup > .grid-editor {
    background: white;
    border-radius: 1.2em;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.popup > i {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup > i:hover {
    transform: scale(1.2);
    cursor: pointer;
}