<aside>
    <div class="top">
        <div class="logo">
            <img src="./images/logo.png">
            <h2><span class="danger">SQUIDLY</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>

    <div class="sidebar">
        <a href="#" class="passive active" type="dashboard" onclick="setMain(this)">
            <span class="material-symbols-outlined">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a href="#" class="passive" type="profile" onclick="setMain(this)">
            <span class="material-symbols-outlined">person</span>
            <h3>Profile</h3>
        </a>
        <a href="#" class="passive" type="meetings" onclick="setMain(this)">
            <span class="material-symbols-outlined">groups</span>
            <h3>Meetings</h3>
            <span class='message-count' vname="meetingCount" vfield="innerHTML">26</span>
        </a>
        <a href="#" class="passive" type="analytics" onclick="setMain(this)">
            <span class="material-symbols-outlined">monitoring</span>
            <h3>Analytics</h3>
        </a>
        <a href="#" class="passive" type="admin control" onclick="setMain(this)">
            <span class="material-symbols-outlined">supervisor_account</span>
            <h3>Admin Control</h3>
        </a>
        <a href="#" class="passive" type="support" onclick="setMain(this)">
            <span class="material-symbols-outlined">contact_support</span>
            <h3>Support</h3>
        </a>
        <a href="#" class="passive" type="data & privacy" onclick="setMain(this)">
            <span class="material-symbols-outlined">report</span>
            <h3>Data & Privacy</h3>
        </a>
        <a href="#" class="passive" type="settings" onclick="setMain(this)">
            <span class="material-symbols-outlined">settings</span>
            <h3>Settings</h3>
        </a>
        <a href="#" class="passive" type="logout" onclick="setMain(this)">
            <span class="material-symbols-outlined">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>
<!-------------------- END OF ASIDE -------------------->
<main type="meetings">
    <!--- START OF DASHBOARD PAGE --->
    <div type="dashboard">
        <h1>Dashboard</h1>

        <div class="date">
            <input type="date">
        </div>

        <div class="insights">
            <div class="hours">
                <span class="material-symbols-outlined">analytics</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total Hours</h3>
                        <h1>25.6</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>percent</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 6 Months</small>
            </div>
            <!-------------------- END OF HOURS -------------------->
            <div class="sessions-count">
                <span class="material-symbols-outlined">bar_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total Sessions</h3>
                        <h1>14</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>percent</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 6 Months</small>
            </div>
            <!-------------------- END OF SESSIONS -------------------->
            <div class="storage">
                <span class="material-symbols-outlined">stacked_line_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total Storage</h3>
                        <h1>150MB</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>percent</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 6 Months</small>
            </div>
            <!-------------------- END OF STORAGE -------------------->
        </div>
        <!-------------------- END OF INSIGHTS -------------------->

        <div class="recent-sessions">
            <h2>Recent Sessions</h2>
            <table>
                <thead>
                    <tr>
                        <th>Session Name</th>
                        <th>Session Date</th>
                        <th>Session Length</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <a href="#">Show All</a>
        </div>
        <!-------------------- END OF TABLE -------------------->

        <canvas id="chart">hart</canvas>
    </div>

    <!--- START OF PROFILE PAGE --->
    <div type="profile">
        <h1>Profile</h1>
        <div class="profile-wrapper">

            <div class="card">
                <div class="row spi">
                    <div class="row">
                        <div class="profile-photo">
                            <img vname="displayPhoto" vfield="src" />
                        </div>
                        <div class="stack">
                            <h2 vname="name" vfield="innerHTML"></h2>
                            <small class="text-muted" vname="pronouns" vfield="innerHTML"></small>
                        </div>
                    </div>
                    <button id="update-profile">Update</button>
                </div>
            </div>

            <div class="card">
                <h2>Account Details</h2>
                <form>
                    <div class="row">
                        <div class="col">
                            <field class="text-muted">First Name*</field>
                            <input vname="firstName" vfield="value" />
                        </div>
                        <div class="col">
                            <field class="text-muted">Last Name*</field>
                            <input vname="lastName" vfield="value" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <field class="text-muted">Display Name*</field>
                            <input vname="name" vfield="value" />
                        </div>
                        <div class="col">
                            <field class="text-muted">Pronouns</field>
                            <input vname="pronouns" vfield="value" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <field class="text-muted">Email</field>
                            <div class="dummy-button" vname="email" vfield="innerHTML"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-passcode">
                            <field class="text-muted">Old Passcode</field>
                            <input />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <field class="text-muted">New Passcode</field>
                            <input />
                        </div>
                        <div class="col">
                            <field class="text-muted">Confirm Passcode</field>
                            <input />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button id="update-profile">Update</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card">
                <h2>Subscription</h2>
                <form>
                    <div class="row">
                        <div class="col">
                            <div>Licence</div>
                        </div>
                        <div class="col-stack">
                            <div vname="tier" vfield="innerHTML"></div>
                            <h3>Total Hours</h3>
                            <h3>Total Sessions</h3>
                            <h3>Total Storage</h3>
                        </div>
                        <div class="col-stack">
                            <div>50</div>
                            <div>20</div>
                            <div>300MB</div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <!--- START OF MEETINGS PAGE --->
    <div type="meetings">
        <h1>Meetings</h1>
        <div class="flex-col tester">
            <div class="flex-row">
                <div class="flex-col tester-one active-ing">
                    <h2>06</h2>
                    <h3>UPCOMING</h3>
                </div>
                <div class="flex-col tester-one app-bg-blue">
                    <h2>02</h2>
                    <h3>PREVIOUS</h3>
                </div>
                <div class="flex-col tester-one app-bg-blue">
                    <h2>01</h2>
                    <h3>PERSONAL ROOM</h3>
                </div>
                <div class="flex-col tester-one app-bg-blue">
                    <h2>00</h2>
                    <h3>TEMPLATES</h3>
                </div>
            </div>
            <div class="flex-row tbl">
                <div class="tile" style="top: 53px">New</div>
                <div class="tile" style="top: 111px">New</div>
                <table width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="table-row">PATIENT</th>
                            <th class="table-row">DATE</th>
                            <th class="table-row">LENGTH</th>
                            <th class="table-row">LINK</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="app-border-1">
                            <td>
                                <svg class="line-item" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 8h16M4 16h16"></path>
                                </svg>
                            </td>
                            <td>
                                <div class="table-content app-bg-yellow-2 app-color-yellow-1">1</div>
                            </td>
                            <td>
                                <div class="flex-row py-3">
                                    <!-- <div class="circle"></div> -->
                                    <div class="flex-col">
                                        <h3>Varun Bose</h3>
                                        <small class="text-muted">Male, 32 yr</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h3>2024-02-24 17:00</h3>
                            </td>
                            <td>
                                <h3 class="length app-bg-red-2 app-color-red-1">
                                    60 Mins
                                </h3>
                            </td>
                            <td>
                                <h3 class="link">https://app.squidly.com.au/S...</h3>
                            </td>
                            <td>
                                <span class="material-symbols-outlined">content_copy</span>
                            </td>
                        </tr>
                        <tr class="app-border-1">
                            <td class="details">
                                <svg class="line-item ml-3 mr-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 8h16M4 16h16"></path>
                                </svg>
                            </td>
                            <td>
                                <div class="mr-4 table-content app-bg-blue-2 app-color-blue-1">2</div>
                            </td>
                            <td>
                                <div class="flex-row items-center py-3">
                                    <div class="flex-col">
                                        <h3>Sufia</h3>
                                        <small class="text-muted">Female, 28 yr</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h3>2024-02-24 17:00</h3>
                            </td>
                            <td>
                                <h3 class="length app-bg-red-2 app-color-red-1">
                                    30 Mins
                                </h3>
                            </td>
                            <td>
                                <h3 class="link">https://app.squidly.com.au/S...</h3>
                            </td>
                            <td>
                                <span class="material-symbols-outlined">content_copy</span>
                            </td>
                        </tr>
                        <tr class="app-border-1">
                            <td>
                                <svg class="line-item" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 8h16M4 16h16"></path>
                                </svg>
                            </td>
                            <td>
                                <div class="table-content app-bg-yellow-2 app-color-yellow-1">3</div>
                            </td>
                            <td>
                                <div class="flex-row py-3">
                                    <!-- <div class="circle"></div> -->
                                    <div class="flex-col">
                                        <h3>John Wick</h3>
                                        <small class="text-muted">Male, 45 yr</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h3>2024-02-24 17:00</h3>
                            </td>
                            <td>
                                <h3 class="length app-bg-red-2 app-color-red-1">
                                    110 Mins
                                </h3>
                            </td>
                            <td>
                                <h3 class="link">https://app.squidly.com.au/S...</h3>
                            </td>
                            <td>
                                <span class="material-symbols-outlined">content_copy</span>
                            </td>
                        </tr>
                        <tr class="app-border-1">
                            <td>
                                <svg class="line-item" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 8h16M4 16h16"></path>
                                </svg>
                            </td>
                            <td>
                                <div class="table-content app-bg-blue-2 app-color-blue-1">4</div>
                            </td>
                            <td>
                                <div class="flex-row py-3">
                                    <!-- <div class="circle"></div> -->
                                    <div class="flex-col">
                                        <h3>Johny Ive</h3>
                                        <small class="text-muted">Male, 31 yr</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h3>2024-02-24 17:00</h3>
                            </td>
                            <td>
                                <h3 class="length app-bg-red-2 app-color-red-1">
                                    45 Mins
                                </h3>
                            </td>
                            <td>
                                <h3 class="link">https://app.squidly.com.au/S...</h3>
                            </td>
                            <td>
                                <span class="material-symbols-outlined">content_copy</span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="show-all">Show All</div>
    </div>

    <!--- START OF CONTACT PAGE --->
    <div type="support">
        <h1>Support</h1>
        <div class="card">
            <h1>Let's work together<span>.</span></h1>
            <p class="text">Or reach us via : <a href="joshua.aarons@ymail.com">contact@squidly.com</a></p>
            <div class="form-wrapper">
                <form-type action="index.html" method="post" class="contact-form">
                    <div class="input-wrap">
                        <input class="contact-input" autocomplete="off" name="First Name" type="text" required>
                        <label>First Name</label>
                        <i class="icon fa-solid fa-address-card"></i>
                    </div>
                    <div class="input-wrap">
                        <input class="contact-input" autocomplete="on" name="Last Name" type="text" required>
                        <label>Last Name</label>
                        <i class="icon fa-solid fa-address-card"></i>
                    </div>
                    <div class="input-wrap w-100">
                        <input class="contact-input" autocomplete="on" name="Email" type="email" required>
                        <label>Email</label>
                        <i class="icon fa-solid fa-envelope"></i>
                    </div>
                    <div class="input-wrap textarea w-100">
                        <textarea name="Message" autocomplete="off" class="contact-input" required></textarea>
                        <label>Message</label>
                        <i class="icon fa-solid fa-inbox"></i>
                    </div>
                    <div class="contact-buttons">
                        <button class="btn upload">
                            <span>
                                <i class="icon fa-solid fa-paperclip"></i> Add attachment
                            </span>
                            <input type="file" name="attachment">
                        </button>
                        <input type="submit" value="Send message" class="btn">
                    </div>
                </form-type>
            </div>
        </div>
    </div>

    <!--- START OF PRIVACY PAGE --->
    <div type="data & privacy">
        <h1>Data & Privacy</h1>
        <div class="card">
            <h1>Data Settings</h1>
            <div class="privacy-wrapper">
                <form class="data-form">
                    <div class="privacy-wrap width-100">
                        <p class="data-preferences-heading">Diagnostic Data Preferences</p>
                        <p class="data-preferences-body">Diagnostic data includes all service-generated data when you
                            use Squidly services. It does not include any customer content. <a
                                href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn More</a></p>
                    </div>
                    <div class="privacy-wrap width-100">
                        <p class="data-preferences-heading">Required Diagnostic Data</p>
                        <p class="data-preferences-body">This data is necessary to help Zoom operate our services,
                            provide support, and troubleshoot. <a
                                href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn More</a></p>
                    </div>

                    <div class="privacy-wrap">
                        <p class="data-preferences-heading">Optional Diagnostic Data</p>
                        <p class="data-preferences-body">Allow collection of additional data that helps Squidly make
                            product improvements and provide enhanced information to help Squidly detect, diagnose, and
                            remediate issues. <a href="https://joshuaaarons71.wixsite.com/mysite/privacy-policy">Learn
                                More</a></p>
                    </div>

                    <div class="privacy-wrap">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </form>

            </div>
    </div>
</main>
<!-------------------- END OF MAIN -------------------->

<div class="right">
    <div class="top">
        <button id="menu-btn">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <div class="theme-toggler">
            <span class="material-symbols-outlined active">light_mode</span>
            <span class="material-symbols-outlined">dark_mode</span>
        </div>
        <div class="profile">
            <div class="info">
                <p>Hey, <b vname="firstName" vfield="innerHTML">Name</b></p>
                <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
                <img vname="displayPhoto" vfield="src" />
            </div>
        </div>
    </div>
    <!-- END OF TOP -->
    <div class="meeting">
        <h2>Meetings</h2>
        <div class="item host">
            <div class="icon">
                <span class="material-symbols-outlined">videocam</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>HOST MEETING</h3>
                </div>
            </div>
        </div>
        <div class="item schedule" id="openModal">
            <div class="icon">
                <span class="material-symbols-outlined">calendar_month</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>SCHEDULE MEETING</h3>
                </div>
            </div>
        </div>
        <!--- OPEN SCHEDULER MODAL --->
        <div class="modal" id="modal">
            <meeting-scheduler></meeting-scheduler>
        </div>

        <div class="modal" id="modalSecond">
            <meeting-display></meeting-display>
        </div>
    </div>
</div>