input-plus {
    display: flex;
    position: relative;
    width: 100%;
}

input-plus.btn[color='gray']{
    justify-content: center;
    display: flex;
    color: var(--color-info-dark);
}

input-plus textarea {
    resize: none;
    width: 100%;
    min-height: 150px;
}

input-plus textarea ~ label {
    top: 1.2rem;
    transform: none;
}

input-plus textarea ~ .icon {
    top: 1.3rem;
    transform: none;
}

input-plus input, input-plus textarea, input-plus select {
    width: 100%;
    background-color: var(--input-bg);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px var(--input-shadow);
    transition: 0.3s;
}

input-plus input:hover, input-plus textarea:hover, input-plus select:hover {
    background-color: var(--input-bg-hover);
}

input-plus label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--color-info-dark);
    pointer-events: none;
    transition: 0.25s;
    font-size: 0.95rem;
}

input-plus > .icon {
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
    transition: 0.3s;
}

input-plus.focus input, input-plus.focus textarea, input-plus.focus select {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 0 5px var(--input-shadow);
}

input-plus.focus label {
    color: var(--color-primary);
}

input-plus.focus .icon {
    color: var(--color-primary);
}

input-plus.not-empty label {
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: none;
    width: 35px;
    /* height: 25PX; */
    cursor: pointer;
}

input[type="datetime-local"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type="datetime-local"]:focus::-webkit-datetime-edit {
    color: inherit !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    cursor: pointer;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type="time"]:focus::-webkit-datetime-edit {
    color: inherit !important;
}

input[type="time"]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px; 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input-plus input[disabled] {
    background-color: var(--input-bg-hover);
}


input-plus[invalid] input, input-plus[invalid] textarea, input-plus[invalid] select {
    border: 2px solid var(--color-great);
}

input-plus[invalid] label {
    color: var(--color-great);
}

input-plus .error-message, input-plus .file-name {
    display: none;
}

input-plus[invalid] .error-message, input-plus[file] .file-name {
    display: flex;
    position: absolute;
    bottom: -1.2rem;
    left: 1.35rem;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
}

input-plus[invalid] .error-message {
    color: var(--color-great);
}

/* input-plus .error-message i, input-plus .file-name i {
    width: 10px;
    height: 10px;
} */

input-plus input[type='file'] {
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~this is the progress chart~~~~~~~~~~~~~~~~~~ */
progress-chart {
    display: block;
    position: relative;
    --percent: 0.75;
    --offset: 0.25;


    --pi: 112.1; 
    --b-percent: calc(1 - var(--percent));
    --p-arc: calc(var(--percent) * var(--pi) * 2);
    --b-arc: calc(var(--b-percent) * var(--pi) * 2);
}

progress-chart svg {
    width: 5rem;
    height: 5rem; 
}

progress-chart svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dashoffset: calc(var(--offset) * 2 * var(--pi));
    stroke-dasharray:  calc(var(--p-arc) * 1) calc(var(--b-arc) * 1);
}
progress-chart .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

