<div class="container">
    <squidly-loader></squidly-loader>

    <div class="form-container sign-up">
        <form-plus name = "signupForm" class="form col">
            <h1>Create account</h1>
    
            
            <div class = "col">
                <!-- <span>or use your email for registeration</span> -->
                <div class="row">
                    <input-plus><input required type="text" name="firstName"><label>First name</label></input-plus>
                    <input-plus><input required type="text" name="lastName"><label>Last name</label></input-plus>
                </div>
                <input-plus><input type="email" name="email"><label>Email</label></input-plus>
                <input-plus><input type="password" name="password"><label>Password</label></input-plus>                  
            </div> 
            
            <button class = "btn" name = "submit">Register</button>

            <span>Already have an account? <span class="btn-text" name="toggle">Sign in</span></span>

        </form-plus>
<div class ="terms">By creating an account, you agree to the
<a target="_blank" href ="https://policies.squidly.com.au/terms-of-use/">Terms of Service</a> and <a target="_blank" href = "https://policies.squidly.com.au/privacy/">Privacy Policy</a>.</div>
    </div>


    <div class="form-container sign-in">
        <form-plus  name="signinForm" class="form">
            <h1>Sign in</h1>
        
            <div class = "col">
                <input-plus><input type="email" name="email" required><label>Email</label></input-plus>
                <input-plus><input type="password" name="password" required><label>Password</label></input-plus>
            </div>
            <div id="error-message"></div>

            <span class = "btn-text" name="forgot-password">Forget your password?</span>

            <button name="submit" class = "btn">Sign in</button>

            <span>Don't have an account? <span class="btn-text" name="toggle">Sign up</span></span>
        </form-plus>

<div class ="terms"><a target="_blank" href ="https://policies.squidly.com.au/terms-of-use/" >Terms of Service</a> and <a target="_blank" href = "https://policies.squidly.com.au/privacy/" >Privacy Policy</a>.</div>
    </div>

    <div class = "form-container forgot-password">
        <form-plus name = "forgotPasswordForm" class = "form">
            <h1>Forgot password</h1>
            <span>Enter your email to send a password reset code.</span>
            
            <div class = "col">
                <input-plus><input type="email" name="email" required><label>Email</label></input-plus>
            </div>
            
            <div>
                <button class = "btn" name="submit">Reset password</button>
            </div>
            
            <div name = "back" class = "btn-text"><i class="fa-solid fa-arrow-left"></i> Back</div>
        </form-plus>
    </div>

</div>


<div class = "popup" name = "emailVerify">
    <div class = "card col">
        <div class="row-center tick"><i class="fa-regular fa-circle-check"></i></div>
        <span class = "row-center"><h3>Your account requires verification</h3></span>
        <span style = "text-align: center">Please check your email for the verification link. </br> Can't find the email? Click <span class = "btn-text" onclick="sendVerification">here</span> to resend.</span>
        <div class="row-center"><button class = "btn" onclick="closeEmailVerify">Back</button></div>
    </div>
</div>


