<div class="container">
    <div class="form-container sign-up">
        <form-plus name = "signupForm" class="form">
            <h1>Create Account</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            
            <div class = "col">
                <span>or use your email for registeration</span>
                <div class="row">
                    <input-plus><input type="text" name="firstName"><label>First Name</label></input-plus>
                    <input-plus><input type="text" name="lastName"><label>Last Name</label></input-plus>
                </div>
                <input-plus><input type="email" name="email"><label>Email</label></input-plus>
                <input-plus><input type="password" name="password"><label>Password</label></input-plus>                  
            </div>             
            <button class = "top-margin" name = "submit">Register</button>
        </form-plus>
    </div>
    <div class="form-container sign-in">
        <form-plus  name="signinForm" class="form">
            <h1>Sign In</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class = "col">
                <span>or use your email and password</span>
                <input-plus><input type="email" name="email" required><label>Email</label></input-plus>
                <input-plus><input type="password" name="password" required><label>Password</label></input-plus>
            </div>
        
            <div id="error-message"></div>
            <a href="#">Forget Your Password?</a>
            <button name="submit">Sign In</button>
        </form-plus>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <img src="./images/logo.png">
                <h1>Welcome Back!</h1>
                <p>Enter your account details to log into SQUIDLY</p>
                <button class="hidden" name="signinToggle">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <img src="./images/logo.png">
                <h1>Hello!</h1>
                <p>Register with the email you used to subscribe to sign up to SQUDILY</p>
                <button class="hidden" name="signupToggle">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<div class = "popup" name = "emailVerify">
    <div class = "card col">
        <div class="row-center tick"><i class="fa-regular fa-circle-check"></i></div>
        <span class = "row-center"><h3>Your account requires verification</h3></span>
        <span style = "text-align: center">Please check your email for the verification link. </br> Can't find the email? <span class = "btn-text" onclick="sendVerification">Click</span> here to resend.</span>
        <div class="row-center"><button class = "btn" onclick="logout">Back</button></div>
    </div>
</div>