<h2>Details</h2>
<!-- <div id="closeModal">&times;</div> -->
<div class="col" style="gap: 1rem">
    <div class="input-wrap" id="detailsMain">
        <input class="contact-input" autocomplete="off" type="text" id="meetingDes" disabled>
        <label>Meeting Description</label>
        <span class="icon material-symbols-outlined">description</span>
    </div>
    <div class="input-wrap" id="detailsMain">
        <input class="contact-input" autocomplete="off" type="text" id="time" disabled>
        <label>Time</label>
        <span class="icon material-symbols-outlined">event</span>
    </div>

    <div class="contact-buttons">
        <button class="btn upload" id="closeSecondModal"
            style="background-color: var(--color-great);">Close</button>
        <input type="submit" value="Edit" class="btn" id="editModal">
    </div>
</div>