clients-page .card:first-child {
    padding: 0;
}

profile-settings::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
}

profile-settings::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

profile-settings:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

profile-settings {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    overflow-y: scroll;
    min-height: 0;
}

profile-settings h2 {
    font-size: 1.3em;
    margin: 0;
}
profile-settings span {
  font-size: 1.3rem;
  font-weight: 500;
}

summary {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.file-uploader.btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.profile-card {
    padding: 0.5em;
    padding-left: 1.2em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 0.5rem;
}

.profile-card > *:nth-child(n+2) {
    margin-left: 0.5em;
}

.profile-card .file-uploader.btn {
    border-radius: 1em;
    padding: 0.1em 0.6em;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 0.1em;
    gap: 0.5em;
}

.profile-card:hover {
    background-color: rgba(64, 132, 191, 0.07);
}

.highlighted {
    background-color: rgba(64, 132, 191, 0.07);
}

.profile-header span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-uploader svg {
    width: 1.5em;
    height: 1.5em;
}

.file-uploader svg .main-graphic {
    fill: white;
}

.file-uploader[uploading] {
    pointer-events: none;
}
.file-uploader[uploading] span{
    opacity: 0.6;
}

.button-row {
    display: flex;
    gap: 0.5em;
    margin: 0.5em 0;
}

.button-row .btn,
.setting-option-input .btn {
    padding: 0.7em 1.3em;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 2em;
}

.profile-header .img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: #eaeaf1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 256 256"><path opacity="0.3" d="M24.77,256c0-69.4,46.22-125.66,103.23-125.66s103.23,56.26,103.23,125.66"/><ellipse opacity="0.3" cx="128" cy="62.64" rx="46.42" ry="45.2"/></svg>');
    box-shadow: 1px 1px 6px 1px #82848761;
}

.category-list {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    padding-left: 0.75em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #3e3d4269;
    border-left: 1px solid #3e3d4269;
    border-radius: 0 0 0 1em;
}

.category-list .setting-option-input:nth-of-type(n+2) {
    margin-top: 0.25em;
    padding-top: 0.25em;
    border-top: 1px solid #3e3d4239;
}

.setting-option-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 2em;
    border-bottom: 1px solid #f1f5f9;
}

section[border] .setting-option-input:last-child {
  border-bottom: 1px solid transparent;
}

.setting-option-input .select-wrapper  {
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    border: 1.5px solid var(--color-primary);
    background-color: var(--input-bg);
    display: flex;
}

.setting-option-input input {
    padding: 0.2em 0.5em;
    border: 1.5px solid var(--color-primary);
    background-color: var(--input-bg);
    border-radius: 1em;
}

section[name="keyboardShortcuts"] input,
section[name="access"] input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
}

section[name="access"] input:checked + .slider {
    background-color: #7e80ec;
}

section[name="access"] input:focus + .slider {
    filter: drop-shadow(0px 0px 1px #7e80ec);
}

.checkmark {
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 0.2em;
}

section[name="keyboardShortcuts"] input:checked ~ .checkmark {
  background-color: #7e80ec;
}

section[name="keyboardShortcuts"] input:checked ~ .checkmark::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.setting-option-input .select-wrapper select {
    min-width: 16em;
    padding: 0.2em 0.5em;
    padding-right: 2em;
    overflow: hidden;
    font-size: 1em;
}

.setting-option-input .select-wrapper::after {
    content: "▾";
    position: absolute;
    right: 0;
    pointer-events: none;
    top: 0;
    bottom: 0;
    padding: 0.2em 0.5em;
    color: white;
    background-color: var(--color-primary);
}

.settings-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f5f9;
  border-radius: 1em;
}

.settings-header {
  background-color: #F8FAFC;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 1px solid #f1f5f9;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1.2em 1em;
  font-size: 1em;
  font-weight: 500;
}

.settings-header i {
  font-size: 1.1em;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f1f5f9;
  background-color: #F8FAFC;
  border-bottom-left-radius: 1em;
}

.tabs-container .tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 1.5em;
  font-size: 0.8em;
  max-width: 7em;
}

.tabs-container .tab span {
  margin-top: 0.2em;
}

.tabs-container .tab[active] {
    background-color: #D2E5FF;
}

.tabs-container .tab::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
}

.tabs-container .tab[active]::before {
  background-color: #7e80ec;
}

.tabs-container .icon {
  font-size: 2em;
}

.settings-content, .settings-options {
  display: flex;
  width: 100%;
}

.settings-options section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.settings-options {
  flex-direction: column;
  gap: 0.5em;
}

[hidden] {
  display: none !important;
}

@media (max-width: 500px) {
  #profiles {
    height: 50vh !important;
  }

  #settings {
    min-height: 50vh !important;
  }
}

@media (max-width: 1300px) {
    .setting-option-input .select-wrapper select {
      min-width: 8em;
    }
    .setting-option-input input {
      max-width: 8em;
    }
    clients-page {
      font-size: 0.9em;
    }
}

@media (max-width: 1500px) {
    .setting-option-input .select-wrapper select {
      min-width: 12em;
    }
    .setting-option-input input {
      max-width: 12em;
    }
}
