<div class="overlay">
    <!-- Close/Back button is now in separate window -->
<div class="container">
    <div class="form-container sign-in" name = "sign-in">
            <h1>Sign in</h1>
        
            <div class = "col">
                <input-plus name="email"><input type="email" required><label>Email</label></input-plus>
                <div id="error-message" name = "emailError"></div>
                <button onclick = "signInWithOTP" class = "btn">Continue</button>
            </div>
            
            <div class = "col">
                <div class = "ctext"> or </div>
                <button class="with-btn google" onclick = "signInWithGoogle" name="googleSignIn">Continue with Google</button>
                <button class="with-btn microsoft" onclick = "signInWithMicrosoft" name="appleSignIn">Continue with Microsoft</button>
            </div>

            <div class ="terms"><a target="_blank" href ="https://policies.squidly.com.au/terms-of-use/" >Terms of Service</a> and <a target="_blank" href = "https://policies.squidly.com.au/privacy/" >Privacy Policy</a>.</div>
    </div>


    <div class="form-container sign-up" name = "sign-up">
            <h1>Create an account</h1>
            <div class="ctext">Looks like this is your first time signing into Squidly. Please tell us your name so we can get started.</div>
            <div class = "col">
                <div class="row">
                    <input-plus name="firstName"><input required type="text"><label>First name</label></input-plus>
                    <input-plus name="lastName"><input required type="text"><label>Last name</label></input-plus>
                </div>
            </div> 
            
            <button class = "btn" onclick = "createAccountWithOTP">Get started</button>
        <div class ="terms">By creating an account, you agree to the
        <a target="_blank" href ="https://policies.squidly.com.au/terms-of-use/">Terms of Service</a> and <a target="_blank" href = "https://policies.squidly.com.au/privacy/">Privacy Policy</a>.</div>
    </div>

    <div class = "form-container otp-verify" name = "otp-verify">
            <h1>Please verify your identity</h1>
            <span>Please enter the code sent to your email.</span>
            
            <otp-input name = "otpInput" length="6" type = "number"></otp-input>
            
            <div name = "otpError" class = "error-message"></div>

            <div>
                <button class = "btn" onclick = "verifyOTP">Verify</button>
            </div>

            <div class = "otp-resend">
                <span class = "ctext">Resend code in <span name = "otpResend"></span>.</span>
            </div>
            <div class = "otp-resend-code">
                <span class = "ctext">Didn't receive the email? </span>
                <span class = "btn-text" onclick="requestOTP">Resend code.</span>
            </div>
    </div>


    <div class = "loading-overlay">
        <div class = "ctext" name = "overlayText">

        </div>
        <div class="simple-loader">
            <b></b>
            <b></b>
            <b></b>
        </div>
        </div>
    </div>
</div>
