    <h1>Meetings</h1>
    <div class="flex-col tester">
        <div class="flex-row">
            <div class="flex-col tester-one active-ing">
                <h2>06</h2>
                <h3>UPCOMING</h3>
            </div>
            <div class="flex-col tester-one app-bg-blue">
                <h2>02</h2>
                <h3>PREVIOUS</h3>
            </div>
            <div class="flex-col tester-one app-bg-blue">
                <h2>01</h2>
                <h3>PERSONAL ROOM</h3>
            </div>
            <div class="flex-col tester-one app-bg-blue">
                <h2>00</h2>
                <h3>TEMPLATES</h3>
            </div>
        </div>
        <div class="flex-row tbl">
            <div class="tile" style="top: 53px">New</div>
            <div class="tile" style="top: 111px">New</div>
            <table width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="table-row">PATIENT</th>
                        <th class="table-row">DATE</th>
                        <th class="table-row">LENGTH</th>
                        <th class="table-row">LINK</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="app-border-1">
                        <td>
                            <svg class="line-item" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div class="table-content app-bg-yellow-2 app-color-yellow-1">1</div>
                        </td>
                        <td>
                            <div class="flex-row py-3">
                                <!-- <div class="circle"></div> -->
                                <div class="flex-col">
                                    <h3>Varun Bose</h3>
                                    <small class="text-muted">Male, 32 yr</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h3>2024-02-24 17:00</h3>
                        </td>
                        <td>
                            <h3 class="length app-bg-red-2 app-color-red-1">
                                60 Mins
                            </h3>
                        </td>
                        <td>
                            <h3 class="link">https://app.squidly.com.au/S...</h3>
                        </td>
                        <td>
                            <span class="material-symbols-outlined">content_copy</span>
                        </td>
                    </tr>
                    <tr class="app-border-1">
                        <td class="details">
                            <svg class="line-item ml-3 mr-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div class="mr-4 table-content app-bg-blue-2 app-color-blue-1">2</div>
                        </td>
                        <td>
                            <div class="flex-row items-center py-3">
                                <div class="flex-col">
                                    <h3>Sufia</h3>
                                    <small class="text-muted">Female, 28 yr</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h3>2024-02-24 17:00</h3>
                        </td>
                        <td>
                            <h3 class="length app-bg-red-2 app-color-red-1">
                                30 Mins
                            </h3>
                        </td>
                        <td>
                            <h3 class="link">https://app.squidly.com.au/S...</h3>
                        </td>
                        <td>
                            <span class="material-symbols-outlined">content_copy</span>
                        </td>
                    </tr>
                    <tr class="app-border-1">
                        <td>
                            <svg class="line-item" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div class="table-content app-bg-yellow-2 app-color-yellow-1">3</div>
                        </td>
                        <td>
                            <div class="flex-row py-3">
                                <!-- <div class="circle"></div> -->
                                <div class="flex-col">
                                    <h3>John Wick</h3>
                                    <small class="text-muted">Male, 45 yr</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h3>2024-02-24 17:00</h3>
                        </td>
                        <td>
                            <h3 class="length app-bg-red-2 app-color-red-1">
                                110 Mins
                            </h3>
                        </td>
                        <td>
                            <h3 class="link">https://app.squidly.com.au/S...</h3>
                        </td>
                        <td>
                            <span class="material-symbols-outlined">content_copy</span>
                        </td>
                    </tr>
                    <tr class="app-border-1">
                        <td>
                            <svg class="line-item" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div class="table-content app-bg-blue-2 app-color-blue-1">4</div>
                        </td>
                        <td>
                            <div class="flex-row py-3">
                                <!-- <div class="circle"></div> -->
                                <div class="flex-col">
                                    <h3>Johny Ive</h3>
                                    <small class="text-muted">Male, 31 yr</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h3>2024-02-24 17:00</h3>
                        </td>
                        <td>
                            <h3 class="length app-bg-red-2 app-color-red-1">
                                45 Mins
                            </h3>
                        </td>
                        <td>
                            <h3 class="link">https://app.squidly.com.au/S...</h3>
                        </td>
                        <td>
                            <span class="material-symbols-outlined">content_copy</span>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="show-all">Show All</div>