<h1>Settings</h1>

<div class = "card">
    <div class = "row-space" style="margin-bottom:2em">
        <h1>Profiles</h1>
        <i onclick = "document.querySelector('profile-settings').add()" class="fa-solid fa-user-plus" style="font-size:1.5em"></i>
    </div>
    <profile-settings></profile-settings>
</div>

<div class="card bottom-margin">
    <h1>Security</h1>
    <div class="col top-margin">
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Embed security key in invite link for one-click join</p>
                <p class="data-preferences-body">Meeting security key will be encrypted and included in the invite link to allow participants to join with just one click without having to enter the passcode.</p>
            </div>
            <div>
                <label class="switch" locked>
                    <input disabled name="info/embedPasscode" vfield="checked" type="checkbox" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Allow use of end-to-end encryption</p>
                <p class="data-preferences-body">End-to-end encryption is a means of securing calls between only the participant and host and the contents of your meeting is protected throughout its duration.</p>
            </div>
            <div>
                <label class="switch" locked>
                    <input disabled name="info/eteEncryption" vfield="checked" type="checkbox" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Waiting Room</p>
                <p class="data-preferences-body">When pariticpants join a meeting, place them in a waiting room and require the host to join the meeting first.</p>
            </div>
            <div>
                <label class="switch" locked>
                    <input disabled name="info/waitingRoom" vfield="checked" type="checkbox" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="card bottom-margin">
    <h1>Session Settings</h1>
    <div class="col top-margin">
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Host video</p>
                <p class="data-preferences-body">Start meeting with host video on.</p>
            </div>
            <div>
                <label class="switch">
                    <input name="info/hostVideo" vfield="checked" type="checkbox" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Participant video</p>
                <p class="data-preferences-body">Start meeting with participant video on.</p>
            </div>
            <div>
                <label class="switch">
                    <input name="info/participantVideo" vfield="checked" type="checkbox" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Host audio</p>
                <p class="data-preferences-body">Start meeting with host audio on.</p>
            </div>
            <div>
                <label class="switch">
                    <input name="info/hostAudio" vfield="checked" type="checkbox" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row-slider">
            <div class="width-65">
                <p class="data-preferences-heading">Participant audio</p>
                <p class="data-preferences-body">Start meeting with participant audio on.</p>
            </div>
            <div>
                <label class="switch">
                    <input name="info/participantAudio" vfield="checked" type="checkbox" checked="true">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>