<h1>Support</h1>
<form-plus class="card bottom-margin">
    <h1>Let's work together<span class="primary">.</span></h1>
    <p class="text">Or reach us via : <a href="mailto:contact@squidly.com.au">contact@squidly.com.au</a></p>
    <div class="col top-margin">
        <div class="row"> 
             <input-plus
                name="firstName"
                type="text"
                label="First Name"
                icon="fa-solid fa-address-card"
                autocomplete="off"
                required
            ></input-plus>

            
            <input-plus
                name="lastName"
                type="text"
                label="Last Name"
                icon="fa-solid fa-address-card"
                autocomplete="off"
                required
            ></input-plus>
        </div>
        <input-plus
            name = "email"
            type="email"
            label="Email"
            icon="fa-solid fa-envelope" 
            autocomplete="off"
            required
        ></input-plus>
        <input-plus
            name="message"
            type="textarea"
            label="Your Message"
            icon="fa-solid fa-comment"
            autocomplete="off"
            required
        ></input-plus>
        <div class="contact-buttons">
            <input-plus 
                type="file"
                name="attachment"
                label="Attachment"
                icon="fa-solid fa-paperclip"
                accept="image/*"
                color="gray"
            ></input-plus>
            <button name="submit" class="btn">Send Message</button>
        </div>
    </div>
</form-plus>