
<div class = "side-margin">
    <form-plus name = "form" class = "card">
        <h1>Contact our team<span class="primary">.</span></h1>
        <p class="text">Or reach us via: <a href="mailto:contact@squidly.com.au">contact@squidly.com.au</a></p>
        <div class="col top-margin">
            <div class="row"> 
                <input-plus
                    name="firstName"
                    type="text"
                    label="First Name"
                    icon="fa-solid fa-address-card"
                    autocomplete="off"
                    required
                ></input-plus>

                
                <input-plus
                    name="lastName"
                    type="text"
                    label="Last Name"
                    icon="fa-solid fa-address-card"
                    autocomplete="off"
                    required
                ></input-plus>
              
            </div>
            <div class="row">
                <input-plus
                    name = "email"
                    type="email"
                    label="Email"
                    icon="fa-solid fa-envelope"
                    autocomplete="off"
                    required
                ></input-plus>


                <input-plus
                    name="jobTitle"
                    type="text"
                    label="Job Title"   
                    icon="fa-solid fa-briefcase"
                    autocomplete="off"
                    required
                ></input-plus>
            </div>

            <div class="row">
                <input-plus
                    name="company"
                    type="text"
                    label="Company Name"
                    icon="fa-solid fa-building"
                    autocomplete="off"
                    required
                ></input-plus>
           
                <input-plus 
                    name="users" 
                    type="number"
                    label="Number of users"
                    icon="fa-solid fa-users"
                    autocomplete="off"
                    required
                ></input-plus>
            </div>

            <div>How can we help get your team started on Squidly?</div>
            <input-plus
                name="message"
                type="textarea"
                label="Your Message"
                icon="fa-solid fa-comment"
                autocomplete="off"
                required
            ></input-plus>
            <div class="row">
                <button class="btn" name="submit">Send</button>
            </div>
        </div>
    </form-plus>
</div>