
<div class = "side-margin">
    <form-plus name = "form" class = "card">
        <h1>Contact our team<span class="primary">.</span></h1>
        <p class="text">Or reach us via: <a href="mailto:contact@squidly.com.au">contact@squidly.com.au</a></p>
        <div class="col top-margin">
            <div class="row"> 
                <input-plus>
                    <input autocomplete="off" name="firstName" type="text" required>
                    <label>First Name</label>
                    <i class="icon fa-solid fa-address-card"></i>
                </input-plus>
                <input-plus>
                    <input autocomplete="on" name="lastName" type="text" required>
                    <label>Last Name</label>
                    <i class="icon fa-solid fa-address-card"></i>
                </input-plus>
            </div>
            <div class="row">
                <input-plus>
                    <input autocomplete="on" name="email" type="email" required>
                    <label>Email</label>
                    <i class="icon fa-solid fa-envelope"></i>
                </input-plus>
                <input-plus>
                    <input autocomplete="on" name="jobTitle" type="text" required>
                    <label>Job title</label>
                    <i class="icon fa-solid fa-envelope"></i>
                </input-plus>
            </div>

            <div class="row">
                <input-plus>
                    <input autocomplete="on" name="company" type="text" required>
                    <label>Company name</label>
                    <i class="icon fa-solid fa-envelope"></i>
                </input-plus>
                <input-plus>
                    <input autocomplete="on" name="users" type = "number" required>
                    <label>Number of users</label>
                    <i class="icon fa-solid fa-envelope"></i>
                </input-plus>
            </div>

            <div>How can we help get your team started on Squidly? <span>(Optional)</span></div>
            <input-plus>
                <textarea name="message" autocomplete="off" required></textarea>
                <label>Message</label>
                <i class="icon fa-solid fa-inbox"></i>
            </input-plus>

            <div class="row">
                <button class="btn" name="submit">Send</button>
            </div>
        </div>
    </form-plus>
</div>