feature-panel {
    --height: max(27em, calc(var(--inner-height) - var(--full-header-height) - 3 * var(--header-margin) - 10em));
}
feature-panel gradient-background {
    height: var(--height);
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 2em;
    gap: var(--gradient-padding);
    border: var(--card-outline);
}

feature-panel gradient-background > div {
    height: 100%;
}

feature-panel .image {
    width: 60%;
    position: relative;
}

feature-panel .image img {
    height: 100%;
    position: absolute;
    width: unset;
    object-fit: cover;
    top: var(--gradient-padding);
}

feature-panel .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    padding: var(--gradient-padding) 0 var(--gradient-padding) var(--gradient-padding);
    width: 40%;
}

.description h1 {
    white-space: pre;
}


feature-panel .feature-rows {
    gap: 1em;
}
feature-panel .feature-cards {
    align-items: stretch;
    gap: 1em;
}
feature-panel .feature-cards .col {
    gap: 0.5em;
    margin: 0;
}
feature-panel .feature-cards > .card {
    border: var(--card-outline);
}

@media (max-width: 650px) {
    .feature-cards {
        flex-direction: column;
    }

    feature-panel gradient-background {
        height: unset;
    }

    feature-panel gradient-background {
        flex-direction: column;
        align-items: center;
    }

    feature-panel gradient-background > div {
        width: 100%;
        height: unset;
    }
    feature-panel .image {
        width: 100%;
        height: 47vw;
    }
    feature-panel .image img {
        height: unset;
        width: 100%;
        object-fit: cover;
        top: 0;
    }

    feature-panel .description {
        width: 100%;
        text-align: center;
        padding: 0 var(--gradient-padding);
        padding-top: var(--gradient-padding);
    }
}