<header name = "header" class = "card">
    <div class = "row-no-gap">
        <img src = "../images/logo.svg" alt = "Squidly Logo" class = "logo">
        <img src = "../images/logo-text.svg" alt = "Squidly Logo" class = "logo-text">
    </div>

    <div class = "row hide-for-phone">
        <div class = "btn-text">Pricing</div>
        <div class = "btn-text">Features</div>
        <div class = "btn-text">Contact</div>
    </div>

    <img class = "user-icon" name="displayPhoto" vfield="src">
    <div onclick = "window.location = '/Console'" class = "btn hide-for-phone sign-in"></div>

    <div class = "hamburger hide-for-computer" onclick = "toggleHamburger">
       <hamburger-icon></hamburger-icon>
    </div>

    <div class = "header-menu hide-for-computer">
        <div class = "btn-text">Pricing</div>
        <div class = "btn-text">Features</div>
        <div class = "btn-text">Contact</div>
        <div onclick = "window.location = '/Console'" style = "padding: 0;" class = "btn sign-in"></div>
    </div>
</header>

<main>
<gradient-background speed = "0.001" colors = "250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330" class = "hero">
    <h1>Video Calls for Every Voice </h1>
    <h2>
        Built to make communication extraordinarily inclusive, Squidly is the best way to make accessible video calls.
    </h2>
    <div class = "contents hide-for-phone">
        <div class = "border-offset">
            <div class = "btn">Get started for free</div>
        </div>
    
        <img src = "../images/hero-image.png"/>
    </div>
    <div class = "contents hide-for-computer">
        <img src = "../images/hero-image.png"/>

        <div class = "border-offset">
            <div class = "btn">Get started for free</div>
        </div>
    </div>
</gradient-background>

<div>
    <div style = "text-align: center;" class = "text-1">
        Trusted by proffessionals at
    </div>
    <div class = "company-logos">
        <img src = "../images/cpa.png" alt = "Cerebral Palsy Alliance">
        <img src = "../images/usyd.png" alt = "University of Sydney">
        <img src = "../images/arata.png" alt = "Australian Rehabilitation and Assistive Technology Association">
        <img src = "../images/rmit.png" alt = "Royal Melbourne Institute of Technology">
        <img src = "../images/atsa.png" alt = "Assistive Technology Suppliers Australia">
    </div>
</div>


<div class = "side-margin">
    <div class = "header-text">
        <h1> AAC, Integrated and Ready-to-Go </h1>
        <div class = "text-1">
            Access eye-gaze, switch controls, and more, no extra gear needed.
        </div>
    </div>
    <gradient-background class = "smaller" colors = "250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
        <video class = "video" autoplay loop muted playsinline>
            <source src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/videos%2Faac-demo.mp4?alt=media&token=52b9c971-8a4c-45ee-9775-26830859fc2e" type = "video/mp4">
            Your browser does not support the video tag.
    </gradient-background>
</div>

<div class = "side-margin">
    <div class = "header-text">
        <h1> Patient Care Meets Simplicity</h1>
        <div class = "text-1">
            Designed alongside clinicians and users, Squidly makes remote sessions effective and accessible.
        </div>
    </div>
    <gradient-background class = "smaller" colors ="250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
        <video class = "video" autoplay loop muted playsinline>
            <source src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/videos%2Faac-demo.mp4?alt=media&token=52b9c971-8a4c-45ee-9775-26830859fc2e" type = "video/mp4">
            Your browser does not support the video tag.
    </gradient-background>
</div>

<div class = "side-margin">
    <div class = "header-text">
        <h1> Say Goodbye to Scheduling Headaches</h1>
        <div class = "text-1">
            Simplify appointments with smart scheduling and seamless connection.
        </div>
    </div>
    <gradient-background class = "smaller" colors ="250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
        <video class = "video" autoplay loop muted playsinline>
            <source src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/videos%2Faac-demo.mp4?alt=media&token=52b9c971-8a4c-45ee-9775-26830859fc2e" type = "video/mp4">
            Your browser does not support the video tag.
    </gradient-background>
</div>


<div class="side-margin">
    <div class = "features side-margin">
        <div class = "row">
            <div class = "header-text">
                <h1>Built to be inclusive</h1>
                <div class = "text-1">Intelligent, fast, and familiar, Squidly is the best way to make accessible video calls</div>
            </div>
            <div class = "btn">See more features</div>
        </div>
        <div name = "modelRow" class = "row hide-for-phone model-row">
            <gradient-background name = "model1card" class = "outline" colors = "0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
                <div class = "col-space feature">
                    <h1>Frontier Intelligence</h1>
                    <div class = "text">Powered by a mix of purpose-built and frontier AI models, Squidly is smart and fast.</div>
                    <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                        <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FrnChpX5QO9brCPWrXU25?alt=media&token=0fe6ab07-8bd2-4b8c-abf6-8faacab70a37" alt = "Family">
                    </div>
                </div>
            </gradient-background>
            <gradient-background name = "model2card" class = "outline" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                <div class = "col-space feature">
                    <h1>Feels Familiar</h1>
                    <div class = "text">Integrate and customise your client setups, themes, and communication in one click.</div>
                    <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                        <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    </div>
                    <!-- <gradient-model name = "model2" src="../images/mug_spoon.stl" scale ="1" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                    </gradient-model> -->
                </div>
            </gradient-background>
            <gradient-background name = "model3card" class = "outline" colors = "0,5,10,15,20,25,30,35,40,45,50,55,60,65">
                <div class = "col-space feature">
                    <h1>Advanced Privacy</h1>
                    <div class = "text">Squidly has enterprise-level security and end-to-end encryption to protect you, your teams, and clients.</div>
                    
                    <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                        <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FnqbyGugsxNGxoKKjFZ5z?alt=media&token=f2f96b73-4824-4cf8-8a1d-00ac52cb3c6b" alt = "Family">
                    </div>
                </div>
            </gradient-background>
        </div>

        <element-carousel class = "hide-for-computer">
            <div>
                <gradient-background name = "model1card" class = "outline" colors = "0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
                    <div class = "col-space feature">
                        <h1>Frontier Intelligence</h1>
                        <div class = "text">Powered by a mix of purpose-built and frontier AI models, Squidly is smart and fast.</div>
                        <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                            <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FrnChpX5QO9brCPWrXU25?alt=media&token=0fe6ab07-8bd2-4b8c-abf6-8faacab70a37" alt = "Family">
                        </div>
                    </div>
                </gradient-background>
            </div>
            <div>
                <gradient-background name = "model2card" class = "outline" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                    <div class = "col-space feature">
                        <h1>Feels Familiar</h1>
                        <div class = "text">Integrate and customise your client setups, themes, and communication in one click.</div>
                        <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                            <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                        </div>
                        <!-- <gradient-model name = "model2" src="../images/mug_spoon.stl" scale ="1" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                        </gradient-model> -->
                    </div>
                </gradient-background>
            </div>
            <div>
                <gradient-background name = "model3card" class = "outline" colors = "0,5,10,15,20,25,30,35,40,45,50,55,60,65">
                    <div class = "col-space feature">
                        <h1>Advanced Privacy</h1>
                        <div class = "text">Squidly has enterprise-level security and end-to-end encryption to protect you, your teams, and clients.</div>
                        
                        <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                            <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FnqbyGugsxNGxoKKjFZ5z?alt=media&token=f2f96b73-4824-4cf8-8a1d-00ac52cb3c6b" alt = "Family">
                        </div>
                    </div>
                </gradient-background>
            </div>
        </element-carousel>
    </div>
</div>

<div>
    <div class = "header-text">
        <h1>Loved by providers and their clients</h1>
        <div class = "text-1">
            Clinicians all around the world reach for Squidly by choice.
        </div>
    </div>
    <element-carousel name = "reviews" style = "margin-top: 2em; margin-bottom: 2em;">
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>

    </element-carousel>
</div>

<div class = "side-margin">
    <div class = "row-slider try-now" >
        <div class = "col">
                <h1>Try Squidly Now</h1>
            <div class = "row">
                <div style = "border-color: var(--color-danger)" class="border-offset">
                    <div class="btn">Get started for free</div>
                </div>
                <div style = "border-color: black" class="border-offset">
                    <div class="btn" style = "background-color: white; color: var(--color-dark); border: 1px solid black">Schedule a call</div>
                </div>
            </div>
        </div>

        <squidly-loader ></squidly-loader>
    </div>
</div>
</main>

<footer>

    <div class = "fcol">
        <div>
            <b>contact@squidly.com.au</b>
            <div>
                <a href = "https://www.linkedin.com/company/squidly/" target = "_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                        <g fill-rule="evenodd">
                            <path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 ZM62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z"/>
                        </g>
                    </svg>
                </a>
            </div>
            <span> © 2025 Made by Squidly</span>
        </div>
        <div>
            <b>Product</b>
            <span>Pricing</span>
            <span>Features</span>
        </div>
    </div>
    <div class = "fcol">
        <div>
            <b>Legal</b>
            <span>Privact</span>
            <span>Terms</span>
        </div>
    
        <div>
            <b>Contact</b>
            <span>Contact us</span>
            <span>Schedule a call</span>
            <a href="tel:+61 406 741 714" >+61 406 741 714</a>
        </div>
    
        <div> 
            <b>Sydney, NSW 2076</b>
        </div>
    </div>
</footer>