<gradient-background speed = "0.001" colors = "250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330" class = "hero">
    <div class="col">
        <h1>Video Calls for Every Voice </h1>
        <h2>
            Built to make communication extraordinarily inclusive, Squidly is the best way to make accessible video calls.
        </h2>
    </div>

    <div class = "contents hide-for-phone">
        <div class = "border-offset">
            <div onclick = "gotoLicenses" class = "btn">Get started for free</div>
        </div>
    
        <img src = "../images/hero-image.png"/>
    </div>
    
    <div class = "contents hide-for-computer">
        <img src = "../images/hero-image.png"/>

        <div class = "border-offset">
            <div class = "btn">Get started for free</div>
        </div>
    </div>
</gradient-background>

<div>
    <div style = "text-align: center;" class = "text-1">
        Trusted by proffessionals at
    </div>
    <div class = "company-logos">
        <img src = "../images/cpa.png" alt = "Cerebral Palsy Alliance">
        <img src = "../images/usyd.png" alt = "University of Sydney">
        <img src = "../images/arata.png" alt = "Australian Rehabilitation and Assistive Technology Association">
        <img src = "../images/rmit.png" alt = "Royal Melbourne Institute of Technology">
        <img src = "../images/atsa.png" alt = "Assistive Technology Suppliers Australia">
    </div>
</div>


<div class = "side-margin">
    <div class = "header-text">
        <h1> AAC, Integrated and Ready-to-Go </h1>
        <div class = "text-1">
            Access eye-gaze, switch controls, and more, no extra gear needed.
        </div>
    </div>
    <gradient-background class = "smaller" colors = "250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
        <!-- <video class = "video" autoplay loop muted playsinline>
            <source src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/videos%2Faac-demo.mp4?alt=media&token=52b9c971-8a4c-45ee-9775-26830859fc2e" type = "video/mp4">
            Your browser does not support the video tag. -->
    </gradient-background>
</div>

<div class = "side-margin">
    <div class = "header-text">
        <h1> Patient Care Meets Simplicity</h1>
        <div class = "text-1">
            Designed alongside clinicians and users, Squidly makes remote sessions effective and accessible.
        </div>
    </div>
    <gradient-background class = "smaller" colors ="250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
        <!-- <video class = "video" autoplay loop muted playsinline>
            <source src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/videos%2Faac-demo.mp4?alt=media&token=52b9c971-8a4c-45ee-9775-26830859fc2e" type = "video/mp4">
            Your browser does not support the video tag. -->
    </gradient-background>
</div>

<div class = "side-margin">
    <div class = "header-text">
        <h1> Say Goodbye to Scheduling Headaches</h1>
        <div class = "text-1">
            Simplify appointments with smart scheduling and seamless connection.
        </div>
    </div>
    <gradient-background class = "smaller" colors ="250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
        <!-- <video class = "video" autoplay loop muted playsinline>
            <source src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/videos%2Faac-demo.mp4?alt=media&token=52b9c971-8a4c-45ee-9775-26830859fc2e" type = "video/mp4">
            Your browser does not support the video tag. -->
    </gradient-background>
</div>


<div class="side-margin">
    <div class = "features side-margin">
        <div class = "row">
            <div class = "header-text">
                <h1>Built to be inclusive</h1>
                <div class = "text-1">Intelligent, fast, and familiar, Squidly is the best way to make accessible video calls</div>
            </div>
            <div class = "btn">See more features</div>
        </div>
        <div name = "modelRow" class = "row hide-for-phone model-row">
            <gradient-background name = "model1card" class = "outline" colors = "0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
                <div class = "col-space feature">
                    <h1>Frontier Intelligence</h1>
                    <div class = "text">Powered by a mix of purpose-built and frontier AI models, Squidly is smart and fast.</div>
                    <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                        <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FrnChpX5QO9brCPWrXU25?alt=media&token=0fe6ab07-8bd2-4b8c-abf6-8faacab70a37" alt = "Family">
                    </div>
                </div>
            </gradient-background>
            <gradient-background name = "model2card" class = "outline" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                <div class = "col-space feature">
                    <h1>Feels Familiar</h1>
                    <div class = "text">Integrate and customise your client setups, themes, and communication in one click.</div>
                    <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                        <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    </div>
                    <!-- <gradient-model name = "model2" src="../images/mug_spoon.stl" scale ="1" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                    </gradient-model> -->
                </div>
            </gradient-background>
            <gradient-background name = "model3card" class = "outline" colors = "0,5,10,15,20,25,30,35,40,45,50,55,60,65">
                <div class = "col-space feature">
                    <h1>Advanced Privacy</h1>
                    <div class = "text">Squidly has enterprise-level security and end-to-end encryption to protect you, your teams, and clients.</div>
                    
                    <div style = "display: flex; justify-content: center; align-items: center; height: 100%;">
                        <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FnqbyGugsxNGxoKKjFZ5z?alt=media&token=f2f96b73-4824-4cf8-8a1d-00ac52cb3c6b" alt = "Family">
                    </div>
                    <!-- <gradient-model name = "model2" src="../images/lock.stl" scale ="1" colors = "250, 270, 0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
                    </gradient-model> -->
                </div>
            </gradient-background>
        </div>

        <element-carousel class = "hide-for-computer">
            <div>
                <gradient-background name = "model1card" class = "outline" colors = "0, 10, 20, 30, 40, 50, 360, 350, 340, 330">
                    <div class = "col-space feature">
                        <h1>Frontier Intelligence</h1>
                        <div class = "text">Powered by a mix of purpose-built and frontier AI models, Squidly is smart and fast.</div>
                        <div class = "img" style = "background-image: url('https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FrnChpX5QO9brCPWrXU25?alt=media&token=0fe6ab07-8bd2-4b8c-abf6-8faacab70a37')">
                        </div>
                    </div>
                </gradient-background>
            </div>
            <div>
                <gradient-background name = "model2card" class = "outline" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                    <div class = "col-space feature">
                        <h1>Feels Familiar</h1>
                        <div class = "text">Integrate and customise your client setups, themes, and communication in one click.</div>
                        <div class = "img" style = "background-image: url('https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b');">
                        </div>
                        <!-- <gradient-model name = "model2" src="../images/mug_spoon.stl" scale ="1" colors = "125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200">
                        </gradient-model> -->
                    </div>
                </gradient-background>
            </div>
            <div>
                <gradient-background name = "model3card" class = "outline" colors = "0,5,10,15,20,25,30,35,40,45,50,55,60,65">
                    <div class = "col-space feature">
                        <h1>Advanced Privacy</h1>
                        <div class = "text">Squidly has enterprise-level security and end-to-end encryption to protect you, your teams, and clients.</div>
                        
                        <div class = "img" style = "background-image: url('https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FnqbyGugsxNGxoKKjFZ5z?alt=media&token=f2f96b73-4824-4cf8-8a1d-00ac52cb3c6b');">
                        </div>
                    </div>
                </gradient-background>
            </div>
        </element-carousel>
    </div>
</div>

<div>
    <div class = "header-text">
        <h1>Loved by providers and their clients</h1>
        <div class = "text-1">
            Clinicians all around the world reach for Squidly by choice.
        </div>
    </div>
    <element-carousel name = "reviews" style = "margin-top: 2em; margin-bottom: 2em;">
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>
        <div>
            <div class = "review">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit rerum, facere illum porro commodi ipsum voluptatem quia fugiat nisi, ad in quo at ipsa ipsam voluptas molestias illo deleniti. 
                </div>
                <div class = "reviewer">
                    <img src = "https://firebasestorage.googleapis.com/v0/b/eyesee-d0a42.appspot.com/o/icons%2Fall%2FihHop3iUwO2YsFA3QPry?alt=media&token=1a44fb4f-3ebb-48ce-bb62-c4ed5b06080b" alt = "Family">
                    <span>Someone's Name <br> <i>title</i></span>
                </div>
            </div>
        </div>

    </element-carousel>
</div>

<div class = "side-margin">
    <div class = "row-slider try-now" >
        <div class = "col">
                <h1>Try Squidly Now</h1>
            <div class = "row">
                <div style = "border-color: var(--color-danger)" class="border-offset">
                    <div  onclick = "gotoLicenses" class="btn">Get started for free</div>
                </div>
                <div style = "border-color: black" class="border-offset">
                    <div class="btn" style = "--color: white; --hover-color: rgb(244, 242, 242); color: var(--color-dark); border: 1px solid black">Schedule a call</div>
                </div>
            </div>
        </div>

        <squidly-loader ></squidly-loader>
    </div>
</div>