
html {
    background: var(--color-background);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--color-background);
    
    --font-min-size: 12px;
    --font-max-size: 20px;
    --font-scale: 1.5vw;

    --font-size: clamp(var(--font-min-size), var(--font-scale), var(--font-max-size));
    font-size: var(--font-size);
}


main-page {
    display: block;
    font-size: var(--font-size);


    --header-height: 1.7em;
    --header-margin: 0.8em;
    --header-padding: 0.5em;

    --gradient-padding: 4.5vw;
    --gradient-text-shadow: 0 0 10px rgba(0, 0, 0, 0.263);

    --side-margin: calc(3 * var(--font-size));
    --side-margin-text: calc(3 * var(--font-size));

    --full-header-height: calc(var(--header-height) + var(--header-padding) * 2 + var(--header-margin));
    --card-outline: 2px solid #7f7f8329;
    font-family: 'Poppins', sans-serif;

}

main-page .btn {
    font-size: calc(1.3 * var(--font-size));
}

main-page .btn {
    border-radius: 10em;
}


.logo {
    height: var(--header-height);
}
.logo-container {
    cursor: pointer;
}
.logo-text {
    height: var(--header-height);
    width: unset;
    /* transform: translateX(-10%); */
}

.border-offset {
    padding: 5px;
    border: 1px solid var(--color-white);
    display: flex;
    border-radius: 5em;
}


main-page .profile-photo {
    --size: var(--header-height);
    
}
main-page .header-menu .profile-photo {
    max-width: var(--size);
    width: 100%;
}

main-page:not([signed-in]) .profile-photo {
    display: none;
}
main-page[signed-in] .profile-photo {
    display: block;
}

main-page:not([signed-in]) .sign-in::after {
    content: "Sign in";
}
main-page[signed-in] .sign-in::after {
    content: "Console";
}


header.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--header-margin) 4em;
    padding: var(--header-padding);
    height: calc( var(--header-height) + 2 * var(--header-padding) );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    filter: drop-shadow(var(--box-shadow));
    z-index: 200;
    font-size: 1.3em;
    transition: 0.6s ease-in-out background-color;
}


header.card[open],
header.card[show-bg] {
    background-color: var(--color-white);
}

header .btn {
    padding: 0 2em;
    line-height: var(--header-height);
}

header .row {
    gap: 2em;
}

.row-no-gap {
    display: flex;
    align-items: center;
    width: 6em;
}

header .btn-text {
    color: var(--color-dark);
}

header .btn-text:hover {
    color: black;
}

hamburger-icon {
    display: flex;
    cursor: pointer;
}
hamburger-icon svg {
    stroke: var(--color-danger);
    height: var(--header-height);
}

.header-menu {
    --item-height: calc(var(--font-size) * 4.5);
    --login-space: calc(5 * var(--font-size));
    --no-items: 4;
    --br: calc(var(--item-height) / 2 + var(--header-padding));
    border-radius: 0 0 var(--br) var(--br);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    background: white;
    font-size: 2em;
    z-index: -1;
    left: 0;
    width: 100%;
    transition: .3s ease-in-out height, .3s ease-in-out padding-top, .3s ease-in-out padding-bottom;
    overflow: hidden;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
}


header:not([open]) .header-menu {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
header[open] .header-menu {
    padding-bottom: var(--header-padding);
    padding-top: calc(var(--header-padding) + var(--header-height) * 0.5);
    height: calc(var(--login-space) + var(--no-items) * var(--item-height) + 2 * var(--header-padding) + var(--header-height) * 0.5);
}
header > .header-menu > .btn,
.header-menu > * {
    height: var(--item-height);
    line-height: var(--item-height);
}

header > .header-menu > .row {
    margin-top: var(--login-space);
    /* align-items: flex-start;
    text-align: center; */
}

header .btn {
    font-size: 1em;
}


footer {
    margin: var(--side-margin);
    display: flex;
    justify-content: space-between;
}
.fcol {
    display: contents
} 
.fcol > * {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color-dark);
}
footer a {
    color: var(--color-dark);
    text-decoration: none;
}
footer img, footer svg {
    height: 1.3em;
    fill: var(--color-dark);
}

main {
    margin: calc(var(--full-header-height) + 2 * var(--header-margin)) 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 8em;
}

main > * {
    display: contents;
}

main > * > .row {
    margin: var(--side-margin);
}

gradient-background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

gradient-background.hero {
    height: calc(var(--inner-height) - var(--full-header-height) - 3 * var(--header-margin));
}
gradient-background.hero,
gradient-background.smaller {
    --top-padding: max(2em, var(--gradient-padding));
    margin: 0 var(--side-margin);
    border-radius: 2em;
    padding: var(--top-padding) var(--gradient-padding);
    gap: 1.5em;
}

gradient-background.hero img {
    max-height: 80%;
    width: unset;
    max-width: calc(100% - 2 * var(--gradient-padding));
}
gradient-background video {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1em;
}

gradient-background canvas,
gradient-background .gradient-img {
    border-radius: 2em;
}


gradient-background.hero, gradient-background.inside-text {
    color: white;
    text-shadow: var(--gradient-text-shadow);
}

gradient-background.inside-text h1,
gradient-background.hero h1 {
    margin: 0;
    font-size: 3.5em;
}
gradient-background.hero h1 {
    text-align: center;
}

gradient-background.inside-text h2
gradient-background.hero h2 {
    font-size: 1.3em;
}
gradient-background.hero h2 {
    text-align: center;
    font-weight: normal;
}


.btn {
    /* margin-top: 0.8em; */
    font-size: 1.3em;
    text-align: center;
    white-space: pre;
    /* outline: 1px solid white;
    outline-offset: 5px; */
}

gradient-model {
    position: relative;
    width: 100%;
    height: 100%;;
}

gradient-model canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        
    height: 100%;
}



gradient-background.outline {
    --outline: 2px;
    padding: var(--outline);
    background-color: #7f7f8329;
    overflow: hidden;
    border-radius: calc(2 * var(--font-size));
}
gradient-background.outline > canvas,
gradient-background.outline > .gradient-img {
    opacity: 0;
}
gradient-background.outline:hover > canvas,
gradient-background.outline:hover > .gradient-img {
    opacity: 1;
}
gradient-background.outline:hover {
    background-color: transparent;
}

.text-1 {
    font-size: 1.3em;
    color: var(--color-dark);
    margin: 0;
}

.contents {
    display: contents;
}

.col-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}



trusted-companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 0 var(--side-margin);
}
.company-logos {
    margin: 0 var(--side-margin);
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-items: center;
    justify-content: center;
}
.company-logos img {
    height: 2.5em;
    width: unset;
    max-width: 100%;
    opacity: 0.8;
}


.header-text {
    margin: 0 var(--side-margin-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.header-text.left {
    text-align: left;
}

.side-margin, .side-margin-always {
    margin: 0 calc(var(--side-margin) * 1);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--side-margin);
}
gradient-background.smaller {
    /* height: calc(var(--inner-height) - var(--full-header-height) - 3 * var(--header-margin) - 4em); */
    justify-content: flex-end;
}

.features .header-text {
    text-align: left;
    margin: 0;
}
.features .row {
    justify-content: space-between;
    align-items: flex-end;
}
.features .model-row > *{
    width: 100%;
}
element-carousel gradient-background {
    width: calc(var(--w) - var(--side-margin) * 2);
    margin: 0 var(--side-margin);
}

.feature {
    --height-adjustment: 4em;
    --height: calc(var(--inner-height) - var(--full-header-height) - 3 * var(--header-margin) - var(--height-adjustment));
    background-color: rgb(255, 255, 255);
    border-radius: calc(2 * var(--font-size) - var(--outline));
    height: var(--height);
    --padding: calc(2 * var(--font-size));
    width: 100%;
}

.feature .text {
    color: var(--color-dark);
    margin-top: 1em;
    padding: 0 var(--padding);

}
.feature h1 {
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    width: 100%;
    padding: var(--padding);
    padding-bottom: 0;
}

.feature img {
    height: 100%;
    max-width: 80%;
    object-fit: contain; 
}

.feature .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



element-carousel {
    display: flex;
    flex-direction: column;
}
element-carousel carousel-body {
    display: flex;
    overflow: hidden;
    align-items: stretch;
}
element-carousel .icon-box {
    display: flex;
    justify-content: center;
}

element-carousel carousel-body > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review {
    --num: 3;
    --margin: 0.5em;
    width: calc(var(--w) / var(--num) - 2 * var(--margin));
    padding: 2em;
    margin: 0 var(--margin);
    border: var(--card-outline);
    border-radius: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    height: 100%;
}
.review * {
    user-select: none;
    pointer-events: none;
}
.review img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}
.review .reviewer {
    display: flex;
    align-items: center;
    gap: 1em;
}
.review .reviewer span {
    font-weight: bold;
    color: var(--color-dark);
}
.review .reviewer i {
    font-style: normal;
}

.try-now {
    margin: 0 var(--side-margin);
}
.try-now h1 {
    font-size: 3.5em;
}
.try-now img, .try-now squidly-loader {
    width: 20em;
}


main-page form-plus {
    padding: var(--gradient-padding);
    margin: 0 var(--side-margin);
    border: var(--card-outline);
}

*[hide] {
    display: none;
}
.clickable {
    cursor: pointer;
}
@media (max-width: 650px) {
    body {
        --font-size-min: 13px;
        --font-scale: 3vw;
    }

    main-page {
        --side-margin: 1.5em;
        --gradient-padding: 0.5em;
    }

    form-plus input-plus {
        font-size: 17px;
    }

    form-plus .row {
        flex-direction: column;
        align-items: stretch;
    }

    .hide-for-phone {
        display: none;
    }

    .side-margin {
        margin: 0;
    }

    
    gradient-background.hero {
        height: unset;
    }
    gradient-background.hero img {
        max-height: 35%;
    }

    .feature {
        --height-adjustment: 10em;
        --height: calc(var(--inner-height) - var(--full-header-height) - 3 * var(--header-margin) - var(--height-adjustment));

        font-size: 1.3em;
    }
    .features .row {
        flex-direction: column;
        align-items: center;
        margin: 0 var(--side-margin-text)
    }
    .features .header-text {
        text-align: center;
    }
    
    .review {
        font-size: 1.3em;
        --num: 1;
        --margin: var(--side-margin);
    }

    .try-now .row {
        flex-direction: column;
        align-items: center;
    }

    .try-now h1 {
       text-align: center;
    }

    .try-now.row-slider {
        flex-direction: column-reverse;
        align-items: center;
    }
    footer {
        justify-content: space-evenly;
    }
    .fcol {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .hero {
        justify-content: space-evenly;
    }

}
@media (min-width: 650px) {
    .hide-for-computer {
        display: none;
    }
}